@charset "utf-8";
@import "mixins";
@import url("https://use.typekit.net/wxt8qdp.css");

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), /* computer */
    url("../fonts/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), /* computer */
    url("../fonts/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
    url("../fonts/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"), /* computer */
    url("../fonts/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"), /* computer */
    url("../fonts/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("../fonts/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}

/** RESET **/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, 
big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, 
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary,time, mark, audio, video {
	margin: 0;padding: 0; vertical-align: top; letter-spacing: 0; font-size: 15px;word-break:keep-all;font-weight: 400;
}
fieldset,img, textarea {border: 0;outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
img {max-width:100%;}
button,input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none;border:0; }
body {-webkit-text-size-adjust:none;}
ol, ul {list-style: none;}
address,em {font-style: normal}
h1,h2,h3,h4,h5,h6 {font-weight: 400;}
strong {
	font-size:inherit;
	font-weight: 700;
}
div {word-break: keep-all;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}
embed {
	border:0;margin:0; 
	-webkit-text-size-adjust:none;
}
input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {
	width:100%;
	height: 44px;
	padding: 12px 15px;
	background-color:#fff;
	border: 1px solid #D8DBDD;
	border-radius: 8px;
	outline: none;
	color:#000;	
	-webkit-appearance: none;
	&:not([readonly]) {
		&:focus {
			background-color:#fff;
			border-color:#00a8e2;
		}
	}
	&:read-only {
		background-color:#F6F8FA;
		color:#666;
	}
	&.datepicker {
		&:read-only {
			color:#000;
		}
	}
}

textarea {
	width:100%;
	min-height: 100px;
	padding: 12px 15px;
	outline: none;
	resize: none;
	-webkit-appearance: none;
	background-color:#fff;
	border: 1px solid #D8DBDD;
	border-radius:8px;
	&:not([readonly]) {
		&:focus {
			background-color:#fff;
			border-color:#00a8e2;
		}
	}
	&:read-only {
		color:#666;
	}
	::-webkit-input-placeholder{
		
		font-weight: 300;
		color:#999;
	}
	::-moz-placeholder{
		
		font-weight: 300;
		color:#999;
	}
	::-ms-placeholder {
		
		font-weight: 300;
		color:#999;
	}
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:100%;
	margin:0;
	height: 44px;
	padding: 12px 25px 12px 15px;
	background-color:#fff;
	background: {
		image: url(../images/common/select_down.png);
		repeat:no-repeat;
		size: 16px;
		position: right 10px center;
	}
	border: 1px solid #D8DBDD;
	border-radius: 6px;
	outline: none;
	option {
		padding: 5px 10px;
		background-color:#F6F8FA;
		&:disabled {
			background-color: #F5F7F8;
			color: #999;
		}
	}
	&:disabled {
		background-color: #F5F7F8;
		color: #999;
	}
}
input::-ms-clear {
	display: none;
}
::-webkit-input-placeholder{
	font-size: 0.875rem;
	font-weight: 300;
	color:#999;
}
::-moz-placeholder{
	font-size: 0.875rem;
	font-weight: 300;
	color:#999;
}
::-ms-placeholder {
	font-size: 0.875rem;
	font-weight: 300;
	color:#999;
}
button {cursor:pointer; border:none; margin:0; padding:0;background-color: rgba(255,255,255, 0);outline:none;}
input,button,select {vertical-align:middle;}
* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	font-family: 'NanumSquareRound', 'Helvetica', 'Malgun Gothic', sans-serif, Arial;
	color: #111111;
	font-size: 1rem;
}
* {	
	&[aria-hidden="true"] {
		display: none;
	}
	&[aria-hidden="false"] {
		display: block;
	}
}
sup {
	display: inline-block;
	margin-top:-2px;
	font-size:10px;
	font-weight: 700;
}
button {
	text-align: center;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
	overflow: visible;
	background: transparent;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
hr {
	height:10px;
	margin:0;
	border:none;
	background-color:#f2f4f6;
}
.img {
	width: 100%;
	// img {
	// 	width: 100%;
	// }
}
.section {
	position: relative;
	width: 100%;
	margin: 0 auto 8px;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #fff;
}
.star_wrap {
	span.star {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 2px;
		background: {
			size: auto 100%;
			repeat: no-repeat;
			position: center center;
		}
		&.on {
			background-image: url(../images/dummy/score-star_1.png);
		}
		&.off {
			background-image: url(../images/dummy/score-star_0.png);
		}
		&.half {
			background-image: url(../images/dummy/score-star_half.png);
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	.num {
		font-family: 'Roboto';
		vertical-align: middle;
		color:#999;
		em {
			font-weight: 700;
			color:#000;
		}
	}
}
.cate_list {
	padding: 20px 24px 0;
	li {
		a {
			display: block;
			text-align: center;
			font-size: 13px;
			letter-spacing: -0.002em;
		}
		display: inline-block;
		width: 100%;
		max-width: calc(25% - 16px);
		&:not(:nth-of-type(4n)) {
			margin-right: 17px;
		}
		.img {
			padding: 10px;
			background-color: #F5F7F8;
			border-radius: 20px;
			margin-bottom: 8px;
		}
		margin-bottom: 20px;
	}
}
.banner {
	&._default {
		width: 100%;
		max-width: calc(100% - 40px);
		margin: 0 auto;
	}
	&._full {
		width: 100%;
		max-width: 100%;
	}
	&._de {
		.img {
			width: 61px;
		}
	}
	&.brand-bnr {
		border-top:8px solid #F5F7F8;
		border-bottom:8px solid #F5F7F8;
		text-align: left;
		&:before {
			content: '';
			display: block;
			width:100%;
			height:1px;
			background-color: #e5e5e5;
			margin-top:-8px;
		}
		&:after {
			content: '';
			display: block;
			width:100%;
			height:1px;
			background-color: #e5e5e5;
		}
		.img {
			width: 61px;
			margin-right:12px;
		}
		.row {
			padding-top: 30px;
			justify-content: left;
		}
		.btn_all {
			right:25px;
		}
	}
	> a {
		display: block;
		width: 100%;
		.row {
			padding-top: 24px;
			padding-bottom: 24px;
			display: flex;
			justify-content: space-between;
		}
	}
	.img {
		display: inline-block;
	}
}
[class^="overlay-"] {
	.heading {
		font-weight: 700;
	}
	.tit_wrap {
		h3 {
			font-weight: 700;
			span {
				color: #009AFF;
				font-weight: inherit;
			}
		}
	}
}

/** accessibility **/
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.skipnavigation {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		display: block;
		font-size: 0;
		background-color: #FFF;
		text-align: center;
		&:focus {
			height: 30px;
			padding: 4px 0;
			visibility: visible;
			font-size: 1em;
		}
	}
}
.noscroll {
	overflow: hidden!important;
	height: 100%;
	.wrap {
		overflow: hidden;
	}
}

/** Layout 
****************************************/
html, body {
	height:100%;
	min-height:100%;
	margin:0 auto;
}
body {
	max-width:1024px;
	background-color:#fff;
}
.logo {
	display: block;
	width:100px;
	height:25px;
	background: {
		image:url(../images/common/logo.png);
		size:auto 25px;
		repeat:no-repeat;
		position: 0 0;
	}
	@include transition(.2s, ease-in);
	a {
		display: inline-block;
		width:100%;
		height:100%;
	}
}
.today_txt {
	display: inline-block;
	width:2.938rem;
	height:1.625rem;
	margin-right:5px;
	background: {
		image: url(../images/common/txtlogo.png);
		size:cover;
		position:0 0;
		repeat: no-repeat;
	}
}
.row {
	position:relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	width: 100%;
	margin: 0 auto 0;
	padding-left:20px;
	padding-right:20px;
}
.contents_body {
	width:100%;
	min-height:100%;
	padding-top:64px;
	background-color:#fff;
}
.contents_top {
	margin-top:-64px;
}

/** Layout > Header ***********/
.header {
	position:fixed;
	left:0;
	right:0;
	top:0;
	width:100%;
	height:64px;
	z-index: 100;
	padding:calc(constant(safe-area-inset-top)) 0 0;
	padding:calc(env(safe-area-inset-top)) 0 0;
	h1,h2,h3,h4,h5,h6 {display: block;}
	&.fixed {
		@include transition(.5s, ease-in-out);
		background-color: rgba(255,255,255, .95);
	}
	&.hide {
		top:-64px;
	}
	.row {
		max-width:1024px;
		height:100%;
		margin:0 auto;
	}
	h1.logo {
		position:absolute;
		left:20px;
		top:50%;
		@include transform(translateY(-50%));
	}
	.util {
		z-index: 99;
		position:absolute;
		right:20px;
		top:50%;
		@include transform(translateY(-50%));
		a {
			display: inline-block;
			margin-left: 10px;
		}
		.btn_write {
			color: #999;
			font-size: 15px;
			font-weight: 800;
			&._available {
				color: #009AFF;
			}
		}
		.btn_close {
			i {
				@include iconX($size: 15px, $thick: 2px, $color: #000, $padding: 0, $display: inline-block, $position: relative)
			}
		}
	}
	.back {
		z-index: 99;
		position:absolute;
		left:20px;
		width:24px;
		height:24px;
		a {
			display: inline-block;
			width:100%;
			height:100%;
			i {
				@include iconAngle($direction: 'left', $width: 12px, $height: 24px, $thick: 2px, $color: #111, $display: inline-block);
				vertical-align: middle;
				&._w {
					@include iconAngle($direction: 'left', $width: 12px, $height: 24px, $thick: 2px, $color: #fff, $display: inline-block);

				}
			}
		}
	}
	&.sub-head {
		.page_title {
			font-size:1.125rem;
			font-weight: 800;
		}
		.page_close {
			@include iconX($size:18px, $thick: 2px, $color: #000, $padding: 2px, $display: inline-block, $position: releatve); 
		}
	}
	.dropdown_list {
		width:100%;
		z-index: 98;
		text-align: center;
		.dropdown_value {
			display: inline-block;
			width:auto;
			margin:0 auto;
		}
		.item_box {
			display: none;
			position:absolute;
			top:30px;
			left:0;
			width:calc(100% + 40px);
			margin-left:-20px;
			padding:10px 0;
			background-color: #fff;
			z-index: 100;
			box-shadow: -1px 200px 119px 30px rgba(0,0,0,0.32);
			-webkit-box-shadow: -1px 200px 119px 30px rgba(0,0,0,0.32);
			-moz-box-shadow: -1px 200px 119px 30px rgba(0,0,0,0.32);
			&.active {
				display: block;
			}
			a {
				display: block;
				width:100%;
				padding:12px 0;
				font-size:16px;
				&:hover, &:focus {
					font-weight: 700;
				}
			}
			.list_box {
				position:relative;
				z-index: 101;
			}
			.ic-plus {
				display: inline-block;
				width: 8px;
				height: 8px;
				background-image: url(../images/common/ico_title-plus.png);
				background-size: 8px;
				background-repeat: no-repeat;
				background-position: 0 center;
				vertical-align: top;
			}
		}
	}
	&.on {
		.gnb-menu {
			right:0;
			& + .overlay-dimmed {
				opacity: 1;
				z-index: 99;
				overflow: visible;
				clip: unset;
			} 
		}
	}
}
.gnb-menu {
	position: fixed;
	z-index: 1001;
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding-bottom: 40px;
	height: 100%;
	top: 0;
	right: -100%;
	background-color: #fff;
	overflow-y: auto;
	@include transition(.3s, ease-in);
	h2 {display: block;}
	& + .overlay-dimmed {
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		@include transition(.3s, ease-in);
	} 
	.util {
		z-index: 99;
		position:absolute;
		right:20px;
		top:50%;
		@include transform(translateY(-50%));
		a {
			display: inline-block;
			margin-left: 10px;
		}
		.btn_write {
			color: #999;
			font-size: 15px;
			font-weight: 800;
			&._available {
				color: #009AFF;
			}
		}
		.btn_close {
			i {
				@include iconX($size: 15px, $thick: 2px, $color: #000, $padding: 0, $display: inline-block, $position: relative)
			}
		}
	}
	.gnb-head {
		position: relative;
		border-bottom: 1px solid #E5E5E5;
		h2 {
			position: relative;
			padding: 22px 20px;
			span {
				display: block;
				font-size: 18px;
			}
			i {
				font-style: normal;
				color: #009AFF;
				font-size: inherit;
				font-weight: 800;
			}	
		}
		.myinfo {
			display: flex;
			margin: 0 20px 20px;
			padding: 20px 0;
			justify-content: space-around;
			background-color:#F5F7F8;
			border-radius: 20px;
			li {
				flex: 1;
				border-right: 1px dotted #999;
				border-color: rgba(153, 153, 153, .5);
				> a {
					display: block;
					width: 100%;
					text-align: center;
					font-size: 13px;
					span {
						display: block;
						font-family: "roboto";
						font-size: 18px;
						font-weight: 800;
						margin-bottom: 8px;
					}
				}
				&.my {
					position: relative;
					border-right: 1px solid #E5E5E5;
					a {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-family: "roboto";
						font-size: 18px;
						font-weight: 800;
						margin: 0;
					}
				}
				&.point {
					border-right: none;
					span {
						color: #009AFF;
					}
				}
			}
		}
	}	
	.gnb_btn {
		&-close {
			background-image: url(../images/icons/gnb-head_btn-close.png);
		}
		&-setting {
			background-image: url(../images/icons/gnb-head_btn-setting.png);
		}
	}
	section {
		border-bottom: 1px solid #E5E5E5;
	}
	.sec_heading {
		border-top: 8px solid #F5F7F8;
		position: relative;
		padding: 20px;
		border-bottom: 1px solid #E5E5E5;
		h2 {
			font-size: 1.375rem;
			font-weight: 800;
			line-height: 1.35;
		}
		.btn_all {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			line-height: 1.5rem;
			font-weight: 700;
			i {
				transform: translate(-0.25rem, -0.05rem);
				width: 10px;
				height: 24px;
				&::before {
					width: 6px;
					height: 6px;
				}
			}
		}
	}
	.swiper-container {
		padding: 20px 20px 24px;
	}
	.swiper-slide {
		position: relative;
		.imgbg {
			position: relative;
			padding-bottom: 100%;
			background: {
				repeat: no-repeat;
				position: center center;
				size: 100%;
			}
		}
	}
	.swiper-pagination {
		width: 100%;
		bottom: -10px!important;
		.swiper-pagination-bullet {
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 10px;
			background-color: #D0D0D0;
			opacity: 1;
			transition: width .4s;
			margin-right: 5px;
		}
		.swiper-pagination-bullet-active {
			width: 11px;
			background-color: #000;
		}
	}
	.today_talk, .today_info {
		.swiper-slide {
			.label {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				font-size: 13px;
				line-height: 1.25;
				font-weight: 700;
				text-align: center;
				padding: 6px 9px;
				border-radius: 15px;
				border: 1px solid #fff;
			}
			.imgbg {
				&::before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background-color: rgba(0,0,0, .4);
				}
			}
		}
	}
	.today_event {
		border-bottom: none;
		.swiper-slide {
			height: auto;
			.imgbg {
				padding-bottom: 44.5%;
			}
		}
	}
	.gnb_map {
		border-bottom: none;
	}
	.cate_map {
		width: 100%;
		&::after {
			@extend %clearer;
		}
		li {
			width: 50%;
			float: left;
			border-bottom: 1px solid #E5E5E5;
			> a {
				display: inline-block;
				padding: 15px 20px;
			}
			&:nth-of-type(2n-1) {
				border-right: 1px solid #E5E5E5;
			}
		}
	}
	&.show {
		right:0;
		& + .overlay-dimmed {
			opacity: 1;
			z-index: 99;
			overflow: visible;
			clip: unset;
		}
	}
}

/** Layout > Footer ***********/
.footer {
	background-color: #F5F7F8;
	padding:30px 20px 120px;
	.row {
		display: block;
		padding-left:0;
		padding-right:0;
	}
	.logo {
		width:115px;
		height:28px;
		background: {
			image: url(../images/common/foo_logo.png);
			size:auto 28px;
		}
	}
	.btn_outlink {
		position:absolute;
		top:0;
		right:0;
		padding-top:7px;
		background-color: transparent;
		font-weight: 500;
		line-height:1;
		color:#666666;
	}

	.info {
		display: block;
		margin-top:28px;
		> p {
			padding-bottom:8px;
			font-weight: 700;
			color:#666666;
		}
	}
	.etc {
		margin-top:15px;
		a {
			position:relative;
			display: inline-block;
			margin-top:15px;
			margin-right:5px;
			padding-right:10px;
			color:#666666;
			strong {
				font-weight: 700;
				font-size:inherit;
				color:inherit;
			}
			&:after {
				content: '';
				position:absolute;
				right:0;
				top:2px;
				width:1px; 
				height:10px;
				background-color: #D3D3D3;
			}
			&:last-child {
				padding-right:0;
				margin-right:0;
				&::after {
					display: none;
				}
			}
		}
	}
}

/** Layout > App Bar ***********/
.app_bar {
	position:fixed;
	height:80px;
	z-index: 10;
	left:0;
	right:0;
	bottom:0;
	// margin-top: env(safe-area-inset-top);
  // margin-bottom: env(safe-area-inset-bottom);
	// padding: 0 0 0 calc(constant(safe-area-inset-bottom));
	// padding: 0 0 0 calc(env(safe-area-inset-bottom));
	.tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
	}
	.tab {
		width:calc(100% / 5);
    display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		border-top:1px solid rgba(0,0,0, 0.03);
		span {
			display: block;
			margin-top:4px;
			font-size:0.813rem;
		}
		&._left {
			border-top-right-radius: 25px;
		}
		&._right {
			border-top-left-radius: 25px; 
		}
	}
	.tab-challenge {
		height: 100%;
		background-color: transparent;
		border: none;
		justify-content: inherit;
		display: flex;
		span {
			margin-top:9px;
			font-weight: 800;
			color:#009AFF;
			i {
				margin-top:-5px;
				@include iconX($size:8px, $thick: 2px, $color: #4892F6, $padding: 2px, $display: inline-block, $position: relative); 
				&:before {
					-webkit-transform: translate(-50%, 0) rotate(0);
					transform: translate(-50%, 0) rotate(0);
				}
				&:after {
					-webkit-transform: translate(-50%, 0) rotate(90deg);
					transform: translate(-50%, 0) rotate(90deg);
				}
			}
		}
		.ic_app-challenge {
			width:54px;
			height:54px;
			background : {
				image: url(../images/icons/icon_app-challenge.png);
				size:54px;
				repeat:no-repeat;
				position:center center;
			}
		}
		.top {
			width: 113%;
			height:50%;
			border-bottom-left-radius: 115px;
			border-bottom-right-radius: 115px;
			background-color: transparent;
			box-shadow: 0px 35px 0px 17px #fff;
			display: flex;
		}
		.mid {
			border-radius: 50%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
			width:100%;
      height: 54px;
      position: relative;
      justify-content: center;
			-webkit-transform: translate(0, -40%);
      transform: translate(0, -40%);
		}
	}
	@media screen and (min-width:768px) and (max-width:1024px) {
		.tab-challenge {
			.top {
				width:105%;
			}
		}
	}
}

.empty_data {
	position:relative;
	width:100%;
	padding:50px 0;
	text-align:center;
	&._full {
		height:calc(100vh - 100px);
	}
	.mark {
		display: block;
		margin:0 auto 20px;
		width:48px;
		height:48px;
		background: {
			image: url(../images/common/nodata_mark.png);
			size:cover;
			position:center center;
			repeat: no-repeat;
		}
	}
	> p {
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%, -50%));
		color:#666666;
		line-height:1.5;
	}
}

.err-page {
	.empty_data {
		.mark {
			margin-bottom: 30px;
		}
		> div {
			width: 100%;
			color: #000000;
			font-size: 20px;
			line-height:1.5;
			font-weight: 700;
			span {
				margin-top: 30px;
				display: block;
			}
		}
		.btn_wrap {
			margin-top: 50px;
			.btn {
				padding-top: 10px;
				font-weight: 700;
			}
		}
	}
}