@charset "utf-8";
@import "mixins";

/** Icons 
****************************************/
.ic-20 {
	width:20px;
	height:20px;
	background-size:20px;
}
.ic-25 {
	width:25px;
	height:25px;
	background-size:25px;
}
.ic-28 {
	width:28px;
	height:28px;
	background-size:28px;
}

[class^='ic-'] {
	display: inline-block;
	background: {
		repeat: no-repeat;
		position: center center;
		size: cover;
	}
	&.ic_notice {
		position:relative;
		background-image: url(../images/icons/icon_notice.png);
		.cnt {
			position:absolute;
			right:0;
			bottom:0;
			display: block;
			width:15px;
			height:15px;
			background-color: #FF2B4C;
			border-radius: 50%;
			font-size:10px;
			font-weight: 700;
			color:#fff;
			text-align: center;
			line-height:1.6;
			letter-spacing: -1px;
		}
	}
	&.ic_menu {
		background-image: url(../images/icons/icon_menu.png);
	}
	&.ic_share {
		background-image: url(../images/icons/icon_share.png);
	}
	&.ic_like {
		background-image: url(../images/icons/icon_heart.png);
	}
	&.ic_search {
		background-image: url(../images/icons/icon_search.png);
	}
	&.ic_tel {
		background-image: url(../images/icons/icon_tel.png);
	}
	&.ic_exclamation {
		background-image: url(../images/icons/icon_exclamation.png);
		background-size:16px;
	}
	&.ic_search {
		background-image: url(../images/icons/icon_search-bk.png);
	}
	&.ic_cart {
		background-image: url(../images/icons/icon_basket.png);
		text-align: center;
		.cnt {
			display: block;
			margin-left:0.6%;
			width:100%;
			height:100%;
			font-size:10px;
			font-weight: 700;
			line-height:3.2;
		}
	}
	&.ic_share {
		background-image: url(../images/icons/icon_share.png);
	}

  /** App bar ***********/
  &.ic_app-home {
    background-image: url(../images/icons/icon_app-home.png);
  }
  &.ic_app-search {
    background-image: url(../images/icons/icon_app-search.png);
  }
  &.ic_app-my {
    background-image: url(../images/icons/icon_app-my.png);
  }
  &.ic_app-history {
    background-image: url(../images/icons/icon_app-history.png);
  }
  &.ic_app-challenge {
    background-image: url(../images/icons/icon_app-challenge.png);
    background-size:25px;
  }
}

._plus {
	position: relative;
	&:before, &:after {
		content: "";
		position:absolute;
		background:#000;
	}
	&:before {
		left:50%;
		top:50%;
		width:1px;
		height:10px;
		transform:translate(-50%, -50%);
	}
	&:after {
		left:50%;
		top:50%;
		width:10px;
		height:1px;
		transform:translate(-50%, -50%);
	}
}
._minus {
	&:before {
		content: '';
		display: inline-block;
		width:10px;
		height:1px;
		background-color: #000;
		vertical-align: middle;
	}
}