@charset "utf-8";

// transform
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}
@mixin rotate($deg) {// Rotate
	@include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {// Scale
	@include transform(scale($scale));
}
@mixin translate ($x, $y) {// Translate
	@include transform(translate($x, $y));
}
@mixin pushEasing($speed) {
	transition-duration: #{$speed}ms;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	transition-delay: 0ms;
}
@mixin transition($sec, $motion) {
	-webkit-transition: $sec $motion;
	-moz-transition: $sec $motion;
	-o-transition: $sec $motion;
	transition: $sec $motion;
}
%easing {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
@mixin easing_mixin {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
// clear floating
%clearer {
	content: "";
	display: block;
	clear: both;
}
@mixin clearer_mixin {
	content: "";
	display: block;
	clear: both;
}

//ellipse
@mixin ellipse($line) {
	@if ($line > 1) {
		white-space:normal;
		word-wrap:break-word;
		display:-webkit-box;
		-webkit-line-clamp:$line;
		-webkit-box-orient:vertical;
	} @else {
		// white-space:nowrap;
		white-space:normal;
		word-wrap:break-word;
		display:-webkit-box;
		-webkit-line-clamp:$line;
		-webkit-box-orient:vertical;
	}
	overflow:hidden;
	text-overflow:ellipsis;
}

// icons
// Mixin Icons via http://wit.nts-corp.com/2017/10/31/4972
$sqrt_2: 1.41421356237;
// bullet icon SCSS mixin
@mixin iconAngle($direction: 'up', $width: 50px, $height: 25px, $thick: 1px, $color: #fff, $display: inline-block, $position: relative){
	position: $position;
	display: $display;
	width: $width;
	height: $height;
	overflow: hidden;

	@if ($direction == 'up' or $direction == 'down') {
		$size: floor($width/$sqrt_2 - 2*$thick);
		$rate: 2*$height/$width;
		$margin-top : round($rate*$size/(2*$sqrt_2));

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: $size;
			height: $size;
			@if ($rate == 1) {
				@include transform(translate(-50%, -50%) rotate(45deg));
			} @else {
				@include transform(translate(-50%, -50%) scale(1, $rate) rotate(45deg));
			}

			@if ($direction == 'up') {
				margin-top: $margin-top;
				border-top: $thick solid $color;
				border-left: $thick solid $color;
				border-right: 0;
				border-bottom: 0;
			} @else if ($direction == 'down') {
				margin-top: - $margin-top;
				border-right: $thick solid $color;
				border-bottom: $thick solid $color;
			}
		}
	}  @else if ($direction == 'left' or $direction == 'right') {
		$size: floor($height/$sqrt_2 - 2*$thick);
		$rate: 2*$width/$height;
		$margin-left : round($rate*$size/(2*$sqrt_2));

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: $size;
			height: $size;

			@if ($rate == 1) {
				@include transform(translate(-50%, -50%) rotate(45deg));
			} @else {
				@include transform(translate(-50%, -50%) scale($rate, 1) rotate(45deg));
			}

			@if ($direction == 'left') {
				margin-left: $margin-left;
				border-left: $thick solid $color;
				border-bottom: $thick solid $color;
			}  @else if ($direction == 'right') {
				margin-left: - $margin-left;
				border-top: $thick solid $color;
				border-right: $thick solid $color;
			}
		}
	}
}
// arrow icon SCSS mixin
@mixin iconArrow($direction: 'up', $width: 50px, $height: 50px, $thick: 2px, $color: #222, $display: inline-block, $position: relative){
	position: $position;
	display: $display;
	width: $width;
	height: $height;
		
		&:before {
		content: '';
		position: absolute;
				border-top: $thick solid $color;
				border-left: $thick solid $color;
		
				@if ($direction == 'up' or $direction == 'down') {
				$size: round($width/$sqrt_2 - $thick);
						left: 50%;
						width: $size;
						height: $size;

						@if ($direction == 'up') {
								top: round($width/2);
								-webkit-transform: translate(-50%, -50%) rotate(45deg);
								transform: translate(-50%, -50%) rotate(45deg);
						} @else if ($direction == 'down') {
								bottom: round($width/2);
								-webkit-transform: translate(-50%, 50%) rotate(-135deg);
								transform: translate(-50%, 50%) rotate(-135deg);
						}
				} @else if ($direction == 'left' or $direction == 'right') {
						$size: round($height/$sqrt_2 - $thick);
						top: 50%;
						width: $size;
						height: $size;

						@if ($direction == 'left') {
								left: round($height/2);
								-webkit-transform: translate(-50%, -50%) rotate(-45deg);
								transform: translate(-50%, -50%) rotate(-45deg);
						} @else if ($direction == 'right') {
								right: round($height/2);
								-webkit-transform: translate(50%, -50%) rotate(135deg);
								transform: translate(50%, -50%) rotate(135deg);
						}
				}
		}
	
		&:after {
				content: '';
				position: absolute;
				background-color: $color;

				@if ($direction == 'up' or $direction == 'down') {

						@if ($direction == 'up') {
								top: round($thick/$sqrt_2);
						} @else if ($direction == 'down') {
								bottom: round($thick/$sqrt_2);
						}

						left: 50%;
						width: $thick;
						height: $height - round($thick/$sqrt_2);
						-webkit-transform: translate(-50%, 0);
						transform: translate(-50%, 0);

				} @else if ($direction == 'left' or $direction == 'right') {
						top: 50%;

						@if ($direction == 'left') {
								left: round($thick/$sqrt_2);
						} @else if ($direction == 'right') {
								right: round($thick/$sqrt_2);
						}

						width: $width - round($thick/$sqrt_2);
						height: $thick;
						-webkit-transform: translate(0, -50%);
						transform: translate(0, -50%);
				}
		}
}

// X icon SCSS mixin
@mixin iconX($size: 21px, $thick: 2px, $color: #000, $padding: 0, $display: inline-block, $position: relative) {
	position: $position;
	display: $display;
	width: $size + $padding*2;
	height: $size + $padding*2;
	&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: round($size*$sqrt_2 - $thick);
			height: $thick;
			background-color: $color;
	}
	&:before {
			-webkit-transform: translate(-50%, -50%) rotate(45deg);
			transform: translate(-50%, -50%) rotate(45deg);
	}
	&:after {
			-webkit-transform: translate(-50%, -50%) rotate(135deg);
			transform: translate(-50%, -50%) rotate(135deg);
	}
}

// gradient bg
@mixin dimm-gradient($direction:top, $start:rgba(0, 0, 0, 1), $end:rgba(0, 0, 0, 0)) {
	background-image: -webkit-linear-gradient($direction, $start, $end);
	background-image: -moz-linear-gradient($direction, $start, $end);
	background-image: -ms-linear-gradient($direction, $start, $end);
	background-image: -o-linear-gradient($direction, $start, $end);
	@if $direction==top {
		background-image: linear-gradient(to bottom, $start, $end);
	}
	@else if $direction==bottom {
		background-image: linear-gradient(to top, $start, $end);
	}
	@else if $direction==left {
		background-image: linear-gradient(to right, $start, $end);
	}
	@else if $direction==right {
		background-image: linear-gradient(to left, $start, $end);
	}
}

//img display in post - gallery area 
@mixin galleryArea($length) {
	@if ($length == 1) {
		flex: 1;
		.imgbg {
			padding-bottom: 50%;
		}
	} 
	@if ($length == 2) {
		width: calc(50% - 2px);
		&:nth-of-type(2) {
			margin: 0 0 0 4px;
		}
	} @if ($length >= 3) {
		&:first-of-type {
			width: 100%;
			height: 50%;
			overflow: hidden;
			margin: 0 0 4px 0;
			.imgbg {
				padding-bottom: 50%;
			}
		}
		&:not(:first-of-type) {
			width: calc(50% - 2px);
		}
		&:nth-of-type(3) {
			margin: 0 0 0 4px;
			position: relative;
			&::before {
				content: '+' + ($length - 2) + '장';
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				text-align: center;
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 2;
			}
			.imgbg {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0, 0, 0, .6);
					border-radius: 15px;
					z-index: 1;
				}
			}
		}
		&:nth-of-type(n + 4) {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0;
		}
	}
}