@charset "utf-8";
@import "mixins";

.algorithm_sec {
	text-align: left;
	.row {
		padding-left: 25px;
	}
	.swiper-container {
		margin-top: 20px;
		padding-right: 25px;
	}
	.swiper-slide {
		a {
			width: 100%;
			display: inline-block;
		}
		.img {
			margin-bottom: 20px;
		}
	}
	.tit_wrap {
		h4 {
			max-width: 75%;
			font-weight: 500;
			em {
				font-size: inherit;
				line-height: inherit;
				font-weight: 700;
			}
		}
	}
	.prd_name {
		font-size: 0.938rem;
		line-height: 1.25rem;
		font-weight: 700;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	.price {
		> div {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
		.discount {
			color: #FF2B4C;
			font-size: 0.813rem;
			margin-left: 1px;
			padding-bottom: 2px;
			font-family: 'Roboto';
			letter-spacing: -0.02em;
			em {
				color: inherit;
				font-family: inherit;
				font-size: 1.125rem;
				line-height: inherit;
				font-weight: 700;
				letter-spacing: inherit;
				vertical-align: unset;
			}
		}
		.origin {
			position: relative;
			margin-left: 8px;
			font-family: 'Roboto';
			letter-spacing: -0.02em;
			font-size: 1.125rem;
			font-weight: 700;
			padding-right: 2px;
			padding-bottom: 1px;
			span {
				position: absolute;
				left: 100%;
				bottom: 4px;
				font-size: 0.813rem;
				font-weight: 700;
				letter-spacing: inherit;
			}
		}
		.sale {
			color: #999;
			font-size: 0.813rem;
			text-decoration: line-through;
		}
	}
	.btn_all {
		font-size: 0.938rem;
		line-height: 1.5rem;
		font-weight: 700;
		i {
			transform: translate(-0.25rem, -0.05rem);
			width: 10px;
			height: 24px;
			&::before {
				width: 6px;
				height: 6px;
			}
		}
	}
}

/** Shop 
****************************************/
.shop_wrap {
	background-color: #F5F7F8;
	//** Shop Common
	.row {
    display: block;
	}
	.tit_wrap {
		position: relative;
		text-align: left;
		h3, h4 {
			position: relative;
			font-size: 1.125rem;
			line-height: 1.5rem;
			font-weight: 700;
			letter-spacing: -0.02em;
			margin-bottom: 8px;
		}
	}
	.cnt {
		margin-left: 3px;
		font-family: 'Roboto';
		line-height: inherit;
		font-weight: 700;
		letter-spacing: inherit;
		vertical-align: baseline;
		padding-bottom: 1px;
	}
	.btn {
		&_all {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&.primary {
			border-color: #D8DBDD;
		}
	}
	> .section {
		&:last-of-type {
			margin-bottom: 0;
		}
	}	
	.detail_conts {
		border-bottom:8px solid #F0F0F0;
		&.border-none {
			border-bottom:0;
		}
		.title {
			position:relative;
			width:100%;
			height:64px;
			display: inline-flex;
			align-items: center;
			padding-left:20px;
			padding-right:20px;
			font-size:15px;
			font-weight: 700;
			.btn {
				border:0;
				position: absolute;
				right:0px;
				width:64px;
				height:60px;
				&[aria-pressed="true"] {
					i {
						@include iconAngle($direction: 'up', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
					vertical-align: middle;
					}
				}
			}
			i {
				@include iconAngle($direction: 'down', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
			vertical-align: middle;
			}
		}
		.content_toggle {
			display: none;
			border-top:1px solid #D8DBDD;
			&.total_price {
				padding-top:0;
				.price_data dl {
					margin-bottom:0;
				}
			}
		}
	}
	.detail_data {
		padding: 25px 20px;
		table {
			border-top: 1px solid #AAA;
			width: 100%;
			margin: 0 auto;
			border-bottom:1px solid #AAA;
		}
		tr {
			border-bottom: 1px solid #D8DBDD;
		}
		td {
			width: 35%;
			padding: 16px 12px;
			font-size: 0.813rem;
			line-height: 1.25rem;
			letter-spacing: -0.04em;
			&:first-of-type {
				background-color: #F5F7F8;
			}
			* {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				font-weight: inherit;
			}
		}
		dl {
			.tit {
				margin-top: 10px;
				font-size: 0.938rem;
				margin-bottom: 8px;
			}
			._1d {
				padding-left: 10px;
				&::before {
					content: '-';
					left: 0;
				}
			}
			._2d {
				margin-top: 8px;
				padding-left: 20px;
				li {
					color: #999;
					font-size: inherit;
					line-height: inherit;
					font-weight: inherit;
					&::before {
						content: '·';
						left: -8px;
					}
				}
			}
			._1d, ._2d li {
				position: relative;
				&::before {
					position: absolute;
					width: 2px;
					height: inherit;
					top: 0;
					font-size: inherit;
					line-height: inherit;
					font-weight: inherit;
				}
			}
		}
		dt {
			font-size: 0.938rem;
			font-weight: 700;
			margin-bottom: 12px;
			position: relative;
			padding-left: 12px;
			&::before {
				content: '·';
				width: 2px;
				height: inherit;
				position: absolute;
				left: 0;
				top: 0;
				font-size: inherit;
				line-height: inherit;
				font-weight: inherit;
			}
		}
		dd {
			padding-left: 10px;
			margin-bottom: 20px;
			> * {
				font-size: 0.813rem;
				line-height: 1.375rem;
			}
		}
	}
	//****************************************/
	.prdmain_sec {
		background-color: #fff;
		margin-bottom: 8px;
		.prdkv_wrap {
			background-color: #F5F7F8;
			position: relative;
			.swiper-pagination {
				bottom: 22px;
				width: 100%;
				.swiper-pagination-bullet {
					display: inline-block;
					width: 5px;
					height: 5px;
					border-radius: 10px;
					background-color: #D0D0D0;
					opacity: 1;
					transition: width .4s;
					margin-right: 5px;
				}
				.swiper-pagination-bullet-active {
					width: 11px;
					background-color: #000;
				}
			}
		}
		.swiper-container {
			width: 100%;
			padding-top:100%;
		}
		.swiper-wrapper {
			position:absolute;
			top:0;
		}
		.swiper-slide {
			text-align: center;
			.img {
				display: inline-block;
				position: absolute;
				left: 50%;
				top: 50%;
				max-width: 210px;
				width: 100%;
				transform: translate(-50%, -50%);
			}
		}
		.prdinfo {
			padding-top: 27px;
			.tit_wrap {
				.cate {
					width: 100%;
					position: relative;
					> a {
						font-size: 0.938rem;
						i {
							transform: translate(-0.25rem, -0.05rem);
							width: 10px;
							height: 18px;
							&::before {
								width: 6px;
								height: 6px;
							}
						}
					}
					.btn {
						position: absolute;
						right: 0;
						top: 0;
						border: none;
						background-color: transparent;
						height: auto;
						padding: 0;
					}
				}
				.prd_name {
					padding-top: 8px;
					max-width: 95%;
					font-size: 1.25rem;
					line-height: 1.75rem;
				}
				.price {
					display: flex;
					flex-flow: row nowrap;
					align-items: flex-end;
					> span {
						font-family: 'Roboto';
						line-height: inherit;
						letter-spacing: -0.02em;
					}
					.origin {
						position: relative;
						font-size: 1.875rem;
						font-weight: 700;
						padding-right: 2px;
						span {
							position: absolute;
							bottom: 6px;
							left: 100%;
							vertical-align: baseline;
							font-size: 0.938rem;
							font-weight: 700;
						}
					}
					.sale {
						color: #999;
						font-size: 1rem;
						text-decoration: line-through;
						margin-left: 22px;
						padding-bottom: 4px;
					}
					.discount {
						color: #FF2B4C;
						font-size: 0.938rem;
						margin-left: 10px;
						padding-bottom: 2px;
						em {
							color: inherit;
							font-family: inherit;
							font-size: 1.25rem;
							font-weight: 700;
							letter-spacing: inherit;
							vertical-align: baseline;
						}
					}
				}
			}
			.btn_wrap {
				margin: 20px 0 27px;
				display: flex;
				justify-content: space-between;
				text-align: center;
				> .btn {
					flex: 1;
					display: inline-block;
					border: none;
					&:first-of-type {
						margin-right: 8px;
					}
				}
			}
			ul {
				li {
					position: relative;
					margin-left: 75px;
					font-size: 0.938rem;
					font-weight: 700;
					margin-bottom: 17px;
					&:last-of-type {
						margin-bottom: 0;
					}
					p {
						position: absolute;
						top: 0;
						left: -75px;
						display: inline-block;
						font-style: normal;
						line-height: inherit;
					}
				}
			}
		}
		.info_list {
			border-top: 1px solid #D8DBDD;
			padding-top: 20px;
			margin: 20px 0;
			li {
				font-size: 0.938rem;
				line-height: 1.25rem;
				font-weight: 400!important;
			}
			p {
				font-size: inherit;
				line-height: inherit;
				font-weight: 700;
			}
			.annot {
				margin-top: 10px;
				display: block;
				color: #999;
				font-size: 0.813rem;
				line-height: 1.7;
			}
		}
		.remark_list {
			border-top: 1px solid #D8DBDD;
			position: relative;
			padding: 25px 20px;		
			p {
				font-size: 0.938rem;
				font-weight: 400;
			}
			.discount {
				color: #FF2B4C;
				font-family: 'Roboto';
				font-size: 0.938rem;
				padding-bottom: 2px;
				em {
					color: inherit;
					font-family: inherit;
					font-weight: 700;
					letter-spacing: inherit;
					vertical-align: baseline;
				}
			}
		}
		.coupon_list {
			border-top: 1px solid #D8DBDD;
			padding-top: 16px;		
			padding-bottom: 16px;		
			p {
				display: inline-block;
				width:72px;
				font-size: 0.938rem;
				font-weight: 700;
				vertical-align: baseline;
			}
			.discount {
				display: inline-block;
				color: #FF2B4C;
				font-size: 0.938rem;
				font-weight: 400;
				vertical-align: baseline;
				em {
					font-family: 'Roboto';
					color: inherit;
					font-size: inherit;
					font-weight: 700;
					letter-spacing: inherit;
					vertical-align: baseline;
				}
			}
			.btn {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.prddetail_sec {
		padding-top: 15px;
		padding-bottom: 0;
		margin-bottom: 0;
		.tab_wrap {
			.tab {
				width:100%;
				padding: 12px 6px;
				&[tabindex="0"] {
					color: #009AFF;
					border-bottom: 3px solid #009AFF;
				}
				.cnt {
					display: inline-block;
					color: inherit;
					font-family: 'Roboto';
					font-size: 0.813rem;
					// padding-bottom: 0.156rem;
					vertical-align: middle;
				}
			}
			.see_more {
				background-color: #fff;
			}
		}
		.panel-detail {
			.review_sec {
				border-top:8px solid #F5F7F8;
			}
		}
		.panel_inner {
			overflow: hidden;
			.row {
				margin-top: 40px;
			}
			h3 {
				margin-bottom: 20px;
			}
			.banner {
				position: relative;
				background-color: #F0D0D4;
				border-radius: 20px;
				padding: 27px 28px;
				margin-bottom: 20px;
				em {
					display: block;
					font-size: 0.938rem;
					font-weight: 700;
					margin-bottom: 6px;
				}
				p {
					font-size: 0.813rem;
					line-height: 1.375rem;
					padding-right: 75px;
				}
				&::before {
					content: '';
					display: inline-block;
					width: 73px;
					height: 60px;
					position: absolute;
					top: 20px;
					right: 20px;
					background-image: url(../images/dummy/bannerimg02.png);
					background-size: 100%;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
			.cta_wrap {
				margin-bottom: 24px;
				.title {
					font-size: 0.938rem;
					font-weight: 700;
					letter-spacing: -0.02em;
					margin-bottom: 12px;
				}
				.desc {
					font-size: 0.938rem;
					line-height: 1.5rem;
					color: #666;
					letter-spacing: -0.02em;
					margin-bottom: 16px;
				}
				.btn_wrap {
					padding: 0;
				}
			}
		}
		.panel-summary {
			.detail_conts {
				border-bottom-width: 1px;
			}
		}
		.btn_wrap {
			padding: 28px 0;
			text-align: center;
			.btn {
				display: block;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.review_sec {
		margin-bottom:0;
		padding-bottom: 0;
		.row {
			margin-top: 5px;
		}
		.cnt {
			color: #009AFF;
			font-size: 1.125rem;
		}
		.banner {
			margin-top: 12px;
			position: relative;
			background-color: #F0F8DC;
			border-radius: 20px;
			padding: 27px 28px;
			margin-bottom: 20px;
			&::before {
				content: '';
				display: inline-block;
				width: 72px;
				height: 53px;
				position: absolute;
				top: -20px;
				right: 8px;
				background: {
					image: url(../images/dummy/bannerimg01.png);
					size: 100%;
					position: center center;
					repeat: no-repeat;
				}
			}
			p {
				text-align: left;
				font-size: 0.938rem;
				color: #000;
				font-weight: 700;
				opacity: .9;
				letter-spacing: 0;
				span {
					margin-top: 8px;
					display: block;
					color: #666;
					font-size: 0.813rem;
					opacity: 1;
				}
			}
		}
		.prdscore {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			background-color: #F5F7F8;
			.prdscore_info {
				.star_wrap {
					margin-bottom: 8px;
					span.star {
						width: 18px;
						height: 18px;
						&.off {
							background-image: url(../images/dummy/score-star_0_grey.png);
						}
					}
					.num {
						font-size: 1rem;
						line-height: 18px;
						margin-left: 12px;
					}
				}
			}
			> p {
				font-size: 0.813rem;
				font-weight: 700;
				letter-spacing: -0.02em;
				span {
					font-size: inherit;
					font-weight: inherit;
				}
			}
		}
		.detail_conts {
			margin-top: 20px;
			border-top: 8px solid #F0F0F0;
			border-bottom: none;
			.title {
				.btn {
					width: auto;
					padding-right: 20px;
				}
			}
		}
		.sort {
			position:absolute;
			right:20px;
			top:50%;
			transform: translateY(-50%);
			select {
				border:0;
				width:auto;
				height:auto;
				padding-right:30px;
			}
		}
		.review_wrap {
			display: block;
			.item {
				padding: 27px 20px 25px;
				border-top: 1px solid #F2F2F2;
				&:first-of-type {
					border: none;
				}
			}
			.user_info {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.headdata {
				display: flex;
				justify-content: start;
				align-items: center;
				margin-right: auto;
				p {
					margin-right: 6px;
					font-family: "Roboto";
					font-size: 0.813rem;
					line-height: 1rem;
					vertical-align: middle;
					&:last-of-type {
						&::before {
							content: '·';
							padding-right: 4px;
							width: 1px;
							height: inherit;
							color: inherit;
							font-size: inherit;
							line-height: inherit;
							vertical-align: inherit;
						}
					}
				}
				.userid {
					max-width: 80px;
					font-weight: 500;
					line-height: inherit;
					@include ellipse(1);
				}
				.date {
					color: #999;
					font-weight: 400;
					line-height: inherit;
					vertical-align: baseline;
				}
				.img {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					overflow: hidden;
				}
			}
			.star_wrap {
				display: flex;
				justify-content: start;
				align-items: center;
				.num {
					font-size: 0.875rem;
					line-height: 1rem;
					margin-right: 6px;
				}
			}
			.review {
				.swiper-container {
					padding-top: 16px;
					.img {
						border-radius: 10px;
						overflow: hidden;
					}
				}
				.message {
					padding-top: 12px;
					font-size: 0.938rem;
					line-height: 1.5rem;
				}
				.btn_wrap {
					margin-top: 20px;
					position: relative;
					width: 100%;
					padding: 0;
					text-align: left;
					.btn {
						display: inline-block;
						margin-right: 16px;
						width: auto;
						height: 16px;
						padding: 0;
						font-size: 0.75rem;
						line-height: 16px;
						vertical-align: middle;
						background-color: transparent;
						border: none;
						&._clicked {
							color: #009AFF;
							font-weight: 700;
						}
						span {
							color: inherit;
							font-size: 0.75rem;
							line-height: inherit;
							font-weight: 700;
							vertical-align: inherit;
						}
					}
					.btn_more {
						float: right;
						width: 20px;
						height: 20px;
						background: {
							image: url(../images/icons/item_btn-more.png);
							size: 20px;
							repeat: no-repeat;
							position: center center;
						}
					}
				}
			}
			.videoplay_area {
				margin-top: 16px;
				border-radius: 10px;
				overflow: hidden;
			}
		}
		.btn_wrap {
			padding-top: 5px;
			text-align: center;
			.btn {
				display: block;
				width: 100%;
			}
		}
	}
	.banner._de {
		.txt {
			font-weight: 700;
			padding-left: 10px;
			padding-right: 10px;
		}
		.btn_all {
			position: static;
			transform: translateY(0);
			font-size: 0.938rem;
			line-height: 1.5rem;
			font-weight: 700;
			i {
				transform: translate(-0.25rem, -0.05rem);
				width: 18px;
				height: 24px;
				&::before {
					width: 8px;
					height: 8px;
					border-left: 2px solid #000;
					border-bottom: 2px solid #000;
				}
			}
		}
	}
	.custinfo_sec {
		border-bottom:8px solid #F5F7F8;
		dl {
			padding-top: 10px;
		}
		dt {
			font-size: 0.938rem;
			line-height: 1.25rem;
			font-weight: 700;
			margin-bottom: 10px;
		}
		dd {
			color: #666;
			font-size: 0.938rem;
			line-height: 1.25rem;
			&:not(:last-of-type) {
				margin-bottom: 18px;
			}
			p {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				em {
					font-family: 'Roboto';
					font-size: 1.5rem;
					line-height: 1.6;
					font-weight: 700;
					letter-spacing: -0.02em;
				}
				&:not(:last-of-type) {
					margin-bottom: 6px;
				}
			}
		}
		.btn_wrap {
			margin: 18px 0 0;
			padding:0;
			text-align: left;
			.btn {
				margin-top: 0;
				flex: 1;
				display: inline-block;
				padding: 11px 38px;
				width:auto;
				height: auto;
				vertical-align: middle;
				line-height: 20px;
				background-color: #fff;
				i {
					margin: 0;
				}
			}
		}
	}
	.algorithm_sec {
		border-bottom:8px solid #F5F7F8;
		&:last-child {
			border-bottom:0;
		}
		.tit_wrap {
			h4 {
				font-weight: 500;
			}
		}
	}

}

.coupon_popup {
	.contents {
		.heading {
			font-size: 0.938rem;
		}
		.inner {
			padding-top: 24px;
		}
		.tit_wrap {
			margin-bottom: 16px;
			h3 {
				font-weight: 900;
				margin-bottom: 24px;
			}
			.tit {
				font-size: 0.938rem;
				font-weight: 700;
			}
		}
		ul {
			border-top: 1px solid #D8DBDD;
			li {
				display: flex;
				width: 100%;
				padding: 16px 5px 16px;
				border-bottom: 1px solid #D8DBDD;
				> div {
					font-size: 0.938rem;
					font-weight: 700;
					vertical-align: baseline;
				}
				> div:first-of-type {
					flex: .3;
					white-space: nowrap;
					align-self: center;
				}
				> div:nth-of-type(2) {
					flex: .55;
					padding-left: 10px;
					> p {
						text-align: left;
						line-height: 1.25rem;
						&:first-of-type {
							font-size: 0.938rem;
							margin-bottom: 2px;
						}
						&:last-of-type {
							color: #666;
							font-size: 0.813rem;
						}
					}
				}
				> div:last-of-type {
					flex:.15;
					align-self: center;
					text-align: center;
					.btn_coupon {
						display: inline-block;
						width: 20px;
						height: 36px;
						background: {
							image: url(../images/icons/btn_coupon.png);
							size: 20px;
							repeat: no-repeat;
							position: center center;
						}
						&._clicked {
							background: {
								image: url(../images/icons/btn_coupon_clicked.png);
							}
						}
					}
				}
			}
			.discount {
				font-family: "Roboto";
				font-size: inherit;
				line-height: inherit;
				font-weight: 700;
				vertical-align: inherit;
			}
		}
		dl {
			margin-top: 12px;
			margin-bottom: 25px;
		}
		.coupon {
			display: block;
			width: 100%;
			height: 100%;
			min-height: 74px;
		}
	}
}
.detail-bottom {
	.fixed_btn {
		flex:.4;
	}
	.fixed-like {
		flex:.2;
		border:1px solid #AAAAAA;
		i {
			width:100%;
			height:100%;
			margin:0;
			background-size:25px;
		}
	}
}

.opt-edit {
	position:relative;
	.amount {
		position:relative;
		display: inline-block;
		max-width:110px;
		input[type=text], input[type=number] {
			height:34px;
			padding-left: 20px;
			padding-right:20px;
			border-right:1px solid #D8DBDD;
			border-radius: 4px;
			border-radius: 4px;
			text-align: center;
			background-color: #fff;
		}
		.calc {
			position:absolute;
			width:34px;
			height:34px;
			&._minus {
				left:0;
				border-right:1px solid #D8DBDD;
			}
			&._plus {
				right:0;
				border-left:1px solid #D8DBDD;
			}
		}
	}
	.price {
		position:absolute;
		right:0;
		top:0;
		display: inline-block;
		font-family: 'roboto';
		font-size:18px;
		font-weight: 700;
	}
}
.buy_layer {
	.pop-close {
		width:100%;
		height:25px;
		text-align: center;
		background: {
			image: url(../images/common/btn_fixed-bg.png);
			repeat: repeat-x;
			position:left bottom;
			size: auto 25px;
		}
		button, a {
			display: block;
			width:100%;
			height:100%;
			margin:0 auto;
			background: {
				image: url(../images/common/btn_fixed-bottom.png);
				repeat: no-repeat;
				position: center bottom;
				size: auto 25px;
			}
		}
	}
	.inner_wrap {
		background-color: transparent;
	}
	.opt-wrap {
		padding:18px 20px;
		background-color:#F5F7F8;
	}
	.opt-item {
		padding:20px;
		border:1px solid #D8DBDD;
		border-radius: 8px;
		background-color: #fff;
		.name {
			margin-bottom:12px;
			font-size:15px;
			font-weight: 700;
			@include ellipse(1);
		}
	}
	.total_price {
		padding:20px 0 0;
		&:after {
			@extend %clearer;
		}
		p {
			float:left;
			width:50%;
			padding-top:6px;
			font-size:15px;
			font-weight: 700;
		}
		.price {
			padding-top:0;
			font-family: 'roboto';
			font-size:24px;
			font-weight: 700;
			color:#009AFF;
			text-align: right;
		}
	}
}

/** Benefit 
****************************************/


/** Talk 
****************************************/


/** Information 
****************************************/


/** Challenge 
****************************************/


/** Brand 
****************************************/





/** Mypage/Member 
****************************************/