@charset "utf-8";
@import "mixins";

.guides {
  padding:20px;
  dl {
    margin-bottom:5%;
    border-bottom:2px solid #009AFF;
  }
  dt {
    margin-bottom:15px;
    font-weight:700;
    font-size:1.25rem;
  }
  dd {
    margin-bottom:10px;
    background-color:#D6D6D6;
    border:1px solid #D6D6D6;
    padding:15px;
    > p {
      font-size:0.875rem;
      font-weight:700;
      padding-bottom:15px;
    }
    .chkwrap {
      font-size:1rem;
    }
  }
  .header {
    position:relative !important;
  }
  
}