@charset "utf-8";
@import "mixins";

/** Main 
****************************************/
.main_body {
  width:100%;
	min-height:100%;
	padding-top:55px;
  .section {
    padding-left:20px;
    padding-right:20px;
    margin:0;
  }
  .product_list {
    margin-left:-20px;
    margin-right:-20px;
  }
}
.search_wrap {
  margin-bottom:15px;
  input {
    padding-right:50px;
    background-color: #F5F7F8;
    border-color:#F5F7F8;
    border-radius: 23px;
  }
  .btn {
    position:absolute;
    right:30px;
    border:0;
    width:30px;
    height:30px;
    padding:0;
    background-color: transparent;
    text-align: center;
    outline: 1px;
    i {
      margin-left:0;
    }
  }
}
.keyvisual {
  padding-left:20px;
  padding-right:20px;
  .figure {
    position:relative;
    padding-bottom:106.25%;
    overflow: hidden;
    background: {
      size:cover;
      position:center center;
      repeat: no-repeat;
    }
  }
}
.sec_heading {
  position:relative;
  margin-bottom:15px;
  h2 {
    font-size:1.375rem;
    font-weight: 700;
    line-height:1.35;
    p {
      margin-top:5px;
      font-size:0.938rem;
      color:#999999;
    }
  }
  .btn_all {
    position:absolute;
    bottom:2px;
    right:7px;
    font-size:0.938rem;
    font-weight: 700;
    i {
      &:before {
        transform: translate(-50%, -60%) rotate(225deg);
      }
    }
  }
}