@charset "utf-8";
@import "mixins";

/** Main 
****************************************/
html {
  background-color: #fff;
}
.main_body {
  width:100%;
	min-height:100%;
	padding-top:64px;
  margin-bottom: 40px;
  background-color: #fff;
  overflow:hidden;
  .tab-navigation {
    margin-bottom:0;
    padding-top:0;
  }
  .btn {
    &.primary {
      border-color: #AAAAAA;
    }
  }
  > .banner {
    > a {
      .row {
        padding: 0;
        text-align: center;
      }
    }
  }
}
.myinfo {
  padding-top: 20px;
  margin-bottom: 10px;
  .row {
    justify-content: start;
  }
  em {
    font-size: inherit;
    line-height: inherit;
    font-weight: 800;
  }
}
.search_wrap {
  margin-bottom:15px;
  input {
    padding-right:50px;
    background-color: #F5F7F8;
    border-color:#F5F7F8;
    border-radius: 23px;
  }
  .btn {
    position:absolute;
    right:30px;
    border:0;
    width:30px;
    height:30px;
    padding:0;
    background-color: transparent;
    text-align: center;
    outline: 1px;
    i {
      margin-left:0;
    }
  }
}
.section {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:35px;
  margin: 0;
}
.sec_heading {
  position:relative;
  margin-bottom:15px;
  h2 {
    font-size:1.375rem;
    font-weight: 700;
    line-height:1.35;
    p {
      margin-top:5px;
      font-size:0.938rem;
      color:#666;
    }
  }
  .btn_all {
    position:absolute;
    bottom:2px;
    right:7px;
    font-size:0.938rem;
    font-weight: 700;
    i {
      &:before {
        transform: translate(-50%, -60%) rotate(225deg);
      }
    }
  }
}
.product_list {
  margin-left:-20px;
  margin-right:-20px;
}
.likes, .replies {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  color: #999;
  font-size: 0.813rem;  
  letter-spacing: -0.02em;
  padding-left: 16px;
  i {
    display: inline-block;
    width: 12px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: {
      size: cover;
      position: center center;
      repeat: no-repeat;
    }        
  }
}
.likes {
  i {
    background-image: url(../images/icons/ic_data-likes.png);
  }
  &._w {
    i {
      width: 13px;
      height: 11px;
      background-image: url(../images/icons/ic_data-likes-w.png);
    }
  }
}
.replies {
  margin-left: 12px;
  i {
    background-image: url(../images/icons/ic_data-replies.png);
  }
  &._w {
    i {
      width: 13px;
      height: 11px;
      background-image: url(../images/icons/ic_data-replies-w.png);
    }
  }
}

.keyvisual {
  padding-left:20px;
  padding-right:20px;
  .figure {
    position:relative;
    padding-bottom:106.25%;
    border-radius: 20px;
    overflow: hidden;
    background: {
      size:cover;
      position:center center;
      repeat: no-repeat;
    }
  }
  a {
    display: block;
    position: relative;
    h3 {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 800;
      letter-spacing: -0.03em;
    }
    > div {
      position: absolute;
      bottom: 16px;
      left: 20px;
      span {
        font-family: "Roboto";
        color: #fff;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
  .swiper-pagination {
    width: auto;
    display: inline-block;
    left: auto;
    bottom: 15px;
    right: 35px;
    text-align: right;
    color: #fff;
    font-weight: 400;
    font-size: 0.7rem;
    .swiper-pagination-current {
      font-family: 'roboto';
      color: #fff;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
      vertical-align: baseline;
    }
    .swiper-pagination-total {
      font-family: 'roboto';
      color: #fff;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: inherit;
      vertical-align: baseline;
    }
    padding: 1px 10px 2px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
  }
}
.maininfo {
  margin-top: 10px;
  padding-bottom:40px;
  .row {
    justify-content: space-between;
  }
  .item {
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    a {
      display: block;
      text-align: center;
      .img {
        display: inline-block;
      }
    }
    .tit {
      display: block;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 700;
      i {
        display: inline-block;
        font-style: normal;
        line-height: inherit;
        font-size: 0.875rem;
        letter-spacing: -0.03em;
        margin-bottom: 2px;
        &::after {
          content: '+';
          display: inline-block;
          width: 5px;
          height: 5px;
          font-size: 0.313rem;
          font-weight: 800;
          vertical-align: super;
        }
      }
    }
  }
}
// .shopmain_sec {
//   padding-bottom:40px;
// }

.talk_swipe-navi {
  &.swiper-pagination {
    position:relative;
		display: flex;
    width: 100%;
    padding-bottom:16px;
    text-align: left;
    overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar { display: none; }
  }
  .swiper-pagination-bullet {
    width: auto;
    height:auto;
    margin-right:16px;
    white-space: nowrap;
    span {
      font-size:14px;
    }
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    span {
      color:#199AFF;
      font-weight: 700;
    }
  }
  .swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background-color: transparent;
  }
}
.talk_swipe {
  .swiper-wrapper {
    width:calc(100% - 20px);
  }
  .swiper-slide {
    width:100% !important;
    margin-right:20px;
  }
  .bullet_navigation {
    padding-top:24px;
    text-align: center;
    span {
      display: inline-block;
      width:4px;
      height:4px;
      margin-right:6px;
      background-color: #D8DBDD;
      border-radius: 50%;
      @include transition(.3s, ease-in);
      &.active {
        padding-left:5%;
        padding-right:5%;
        border-radius: 10px;
        background-color: #000;
      }
    }
  }
}
.sec_talk {
  padding-right:0;
  .banner {
    border-radius: 20px;
    overflow: hidden;
    background: {
      size: 100%;
      position: center center;
      repeat: no-repeat;
    }
    > a {
      height:100%;
      min-height:100%;
      .row {
        position:relative;
        display: block;
        &::after {
          content: '';
          position:absolute;
          left:0;
          right:0;
          top:0;
          display: block;
          width:100%;
          height:100%;
          min-height:100%;
          background-color: rgba(0, 0, 0, .2);
          z-index: 1;
        }
      }
    }
    .txt {
      position:relative;
      padding-top: 15px;
      padding-bottom: 15px;
      color: #fff;
      font-size: 1.375rem;
      line-height: 1.875rem;
      font-weight: 800;
      z-index: 2;
      &::before {
        content: '#';
        margin-right: 5px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
      }
    }
  }
  .item_list {
    margin-top: 20px;
    .item {
      margin-left: 10px;
      padding-bottom: 20px;
      border-left: 1px dotted #999;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #000;
      }
      &:last-of-type {
        border: none;
        padding-bottom: 0;
      }
    }
    .row {
      justify-content: space-between;
    }
    .item_conts {
      max-width: calc(100% - 95px);
      margin-top:-5px;
      .date {
        display: block;
        font-family: 'Roboto';
        color: #999;
        font-size: 0.813rem;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
      }
      .tit {
        line-height: 1.625rem;
        font-weight: 800;
        letter-spacing: -0.02em;
        @include ellipse(1);
        margin-bottom: 5px;
      }
      .txt {
        line-height: 1.5rem;
        font-weight: 400;
        letter-spacing: -0.02em;
        @include ellipse(1);
      }
      > div {
        margin-top: 10px;
        white-space: nowrap;
      }
    }
    .figure {
      max-width: 80px;
      margin-left: 12px;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
.sec_my {
  padding-bottom:60px;
  .recommend_swipe {
    position:relative;
    margin-left:-20px;
    margin-right:-20px;
    padding-bottom:24px;
  }
  .swiper-slide {
    border-radius: 0;
  }
  .swiper-pagination.bullet-type {
    bottom: -12px;
  }
  .product_list {
    margin-left:0;
    margin-right:0;
    .info {
      height: 95px;
    }
  }
  .btn_wrap {
    padding-top: 20px;
    text-align: center;
    .btn {
      display: block;
      width: 100%;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    i {
      font-style: normal;
      font-weight: inherit;
    }
  }
}
.sec_best {
  padding:0;
  padding-bottom:60px;
  .sec_heading {
    padding-left:20px;
    padding-right:20px;
  }
  .best_swipe {
    position:relative;
    padding-bottom:24px;
  }
  .swiper-pagination.bullet-type{
    bottom: -12px;
  }
  .swiper-slide {
    width:100% !important;
    border-radius: 0;
    .product_list {
      margin-left:0;
      margin-right:0;
    }
  }
  ._mix {
    .item {
      width:calc(50% - 2px);
    }
  }
  .item {
    position: relative;
    .num {
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 20px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #1B98FF;
      text-align: center;
      -webkit-box-shadow: 0px 5px 16px 0px rgba(27, 152, 255, 0.49);
      -moz-box-shadow:    0px 5px 16px 0px rgba(27, 152, 255, 0.49);
      box-shadow:         0px 5px 16px 0px rgba(27, 152, 255, 0.49);
      span {
        display: block;
        padding-top:6px;
        font-family: 'roboto';
        font-size:14px;
        font-weight: 700;
        color:#fff;
      }
    }
    &._full {
      margin-left:0;
      .num { 
        width:45px;
        height:45px;
        span {
          padding-top:8px;
          font-size:20px;
        }
      }
      .info {
        height: auto;
      }
      .name {
        min-height:24px;
      }
      .price {
        .sale {
          display: inline-block;
          margin-right:5px;
        }
      }
    }
  }
  .product_list {
    .figure {
      padding-bottom: 83.34%;
    }
    .info {
      margin-top: 5px;
      // height: auto;
    }
    .name {
      min-height:39px;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.02em;
      @include ellipse(2);
    }
    .price {
      margin-top: 5px;
      .discount {
        font-size:18px;
      }
      .origin {
        font-size: 18px;
      }
    }
  }
  .banner {
    margin-top: 10px;
    background: {
      size: 100%;
      position: center center;
      repeat: no-repeat;
    }
    > a {
      .row {
        padding: 0;
      }
    }
  }
  ol {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-family: "Roboto";
        
        line-height: 1.5rem;
        font-weight: 700;
        padding-bottom: 5px;
      }
      p {
        width: calc(100% - 40px);
        margin-left: 5px;
        line-height: 1.5rem;
        @include ellipse(1);
      }
      i {
        display: inline-block;
        width: 10px;
        height: 8px;
        background: {
          image: url(../images/icons/ic_same.png);
          size: 100%;
          position: center center;
          repeat: no-repeat;
        }
        &.ic_up {
          background-image: url(../images/icons/ic_up.png);
        }
        &.ic_down {
          background-image: url(../images/icons/ic_down.png);
        }
      }
    }
  }
  .price {
    .origin {
      display: block;
      clear: both;
    }
    .sale {
      display: inline-block;
    }
  }
}
.sec_mdpick {
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom:60px;
  .sec_heading {
    padding-left: 20px;
    padding-right: 20px;
    .btn_all {
      right: 20px;
    }
  }
  .sec_main {
    width: 100%;
    position: relative;
    > a {
      display: block;
    }
		.figure {
			position: relative;
			padding-bottom: 62%;
			overflow: hidden;
			img {
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}
		}
    .item_conts {
      margin-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .name {
      line-height: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.02em;
      @include ellipse(2);
    }
    .price {
      margin-top: 5px;
      .origin {
        font-size: 1.25rem;
      }
      .sale {
        display: inline-block;
      }
      .discount {
        font-size: 1.25rem;
      }
    }
  }
  .mdpick_swipe {
    position:relative;
    padding-bottom:24px;
    .swiper-pagination.bullet-type {
      bottom:-12px;
    }
  }
  .item_list {
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    .row {
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
    }
    .item {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
    .item_conts {
      max-width: 100%;
      width: 100%;
      padding-right: 20px;
      .name {
        line-height: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        @include ellipse(2);        
      }
    }
    .figure {
      position: relative;
      max-width: 78px;
      margin-right: 20px;
      background-color: #F5F7F8;
      border-radius: 20px;
      overflow:hidden;
      img {
        padding:10px;
      }
    }
  }
  .price {
    margin-top: 10px;
    span {
      margin-right:6px;
    }
    .origin {
      font-size: 1.125rem;
    }
    .sale {
      display: inline-block;
    }
  }
  .btn_wrap {
    padding-top: 20px;
    text-align: center;
    .btn {
      display: block;
      width: 100%;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    i {
      font-style: normal;
      font-weight: inherit;
    }
  }
}
.cta_wrap {
  margin-bottom: 20px;
  a {
    display: block;
    padding: 0 20px;
  }
  .img {
    display: flex;
  }
  img {
    flex: 1;
  }
}
.sec_info {
  padding-right:0;
  .sec_heading {
    padding-right:20px;
    .btn_all {
      right:20px;
    }
  }
  .swiper-container {
    margin-top: 20px;
    padding-right: 25px;
  }
  .swiper-slide {
    &:last-child {
      margin-right:0;
    }
    a {
      width: 100%;
      display: inline-block;
      .img {
        min-height: 100%;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }
  .tag {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
  }
  .tit_wrap {
    padding-left: 10px;
    .tit {
      margin-top: 15px;
      font-size: 1.125rem;
      font-weight: 700;
      @include ellipse(2);
    }
    .txt {
      margin-top: 8px;
      display: block;
      font-size: 0.813rem;
      letter-spacing: -0.02em;
      @include ellipse(1);
    }
  }
  .btn_all {
    line-height: 1.5rem;
    font-weight: 700;
    i {
      transform: translate(-0.25rem, -0.05rem);
      width: 10px;
      height: 24px;
      &::before {
        width: 6px;
        height: 6px;
      }
    }
  }
}

/** Main 
****************************************/

/** Main > Market *********************/
.sub-main {
  .section {
    padding-top:0;
    overflow: hidden;
    > .btn_wrap {
      margin-top: 30px;
    }
  }
  .top_banner {
    .banner {
      width:100%;
      padding:17px 10px;
      background-color: #F0FAFF;
      text-align: center;
      p {
        font-weight: 700;
        span {
          font-weight: 700;
          color:#009AFF;
        }
      }
    }
  }
  .subtop_swipe {
    margin:20px 20px 0 20px;
    border-radius: 10px;
    overflow: hidden;
    .figure {
      position:relative;
      padding-top:55.556%;
      background: {
        repeat: no-repeat;
        position:center center;
        size:cover;
      }
    }
    .swiper-pagination-fraction {
      width:54px;
      height:20px;
      left:inherit;
      right:10px;
      padding:1px 0;
      background-color: rgba(0,0,0, 0.2);
      border-radius: 50px;
      font-family: 'roboto';
      font-size:12px;
      color:#fff;
      z-index: 1;
      span {
        margin:0 1px;
        font-family: 'roboto';
        font-size:12px;
        color:#fff;
        font-weight: 300;
      }
      .swiper-pagination-current {
        font-weight: 700;
      }
    }
  }
  .product_list {
    margin-left:-24px;
    margin-right:-24px;
    margin-bottom: 10px;
    .item {
      position:relative;
      // &:nth-of-type(2n-1) {
      //   clear:none;
      // }
    }
    .chkwrap.likechk {
      position:absolute;
      right:10px;
      top:10px;
      z-index: 1;
    }
    .price {
      .discount {
        font-size:18px;
      }
    }
    .btn_wrap._foo {
      min-height:50px;
      padding-left:18px;
      padding-right:18px;
      padding-bottom:18px;
    }
  }
  .ranking_list {
    padding: 0 10px;
    margin-bottom: 22px;
    li, div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-family: "Roboto";
        
        line-height: 1.5rem;
        font-weight: 700;
        padding-bottom: 5px;
      }
      p {
        width: calc(100% - 40px);
        margin-left: 5px;
        line-height: 1.5rem;
        @include ellipse(1);
      }
      i {
        display: inline-block;
        width: 10px;
        height: 8px;
        background: {
          image: url(../images/icons/ic_same.png);
          size: 8px;
          position: center center;
          repeat: no-repeat;
        }
        &.ic_up {
          background-image: url(../images/icons/ic_up.png);
          background-size: 100%;
        }
        &.ic_down {
          background-image: url(../images/icons/ic_down.png);
          background-size: 100%;
        }
      }
    }
  }
}
.category-main {
  .category-summary {
    padding-bottom:20px;
    .figure {
      position:relative;
      width:100%;
      padding-bottom:44%;
      overflow: hidden;
      img {
        position:absolute;
        left:50%;
        top:50%;
        width:100%;
				@include transform(translate(-50%, -50%));
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .desc {
      position:relative;
      width:calc(100% - 40px);
      margin:-40px auto 0;
      padding:20px;
      border-radius: 20px;
      background-color: #fff;
      overflow:hidden;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.2);
      -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.2);
      box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.2);
      z-index: 1;
      text-align: center;
      dt {
        padding-bottom:8px;
        font-size:18px;
        font-weight: 800;
      }
      dd {
        padding:0 15%;
        font-size:13px;
        color:#666666;
        line-height:1.5;
      }
    }
  }
  .borad_wrap {
    padding-top:0;
    
  }
  .list_sort {
    padding-top:0;
  }
  .product_list {
    .chkwrap.likechk {
      top:28px;
      right:-8px;
    }
    .item {
      width:calc(100% - 40px);
      padding:20px 0;
      margin-left:20px;
      margin-right:20px;
      .name {
        max-width:83%;
        @include ellipse(2);
      }
      .info {
        margin-top:15px;
      }
      &:first-child {
        padding-top:0;
        .chkwrap.likechk {
          top:8px;
        }
      }
    }
    .price {
			.discount {
				font-size:18px;
			}
      .sale {
        display: block;
      }
    }
  }
}

#openevent-main {
  .date {
    position: absolute;
    top: 43.333%;
    left: 9.375%;
    width: 75%;
    font-family: 'roboto';
    color: #FFFA5C;
    font-size: 4.167vw;
    font-weight: 700;
  }
  .cont_inner {
    .btn_wrap {
      position: absolute;
      left: 13px;
      right: 13px;
      bottom: 80px;
      width: calc(100% - 26px);
      .btn {
        height: 44px;
        line-height: 44px;
        padding: 0;
      }
    }
  }
  .gray-btn {
    border-radius: 0;
  }
}
#app-location_popup-fn {
  .contents {
    max-width: 290px;
  }
  .inner {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  p {
    font-size: 15px;
    font-weight: 700;
  }
  span {
    display: block;
    color: #666;
    font-size: 13px;
    margin-bottom: 24px;
  }
  .title {
    margin-bottom: 12px;
  }
  .tit {
    margin-bottom: 10px;
  }
  label {
    font-weight: 700;
  }
  .gray-btn {
    border-radius: 0;
  }
}