@charset "utf-8";
@import "mixins";

/** Main 
****************************************/
html {
  background-color: #fff;
}
.main_body {
  width:100%;
	min-height:100%;
	padding-top:64px;
  margin-bottom: 40px;
  background-color: #fff;
  .tab-navigation {
    margin-bottom:0;
    padding-top:0;
    .tab-row{
      padding-bottom:10px;
    }
  }
  .btn {
    &.primary {
      border-color: #AAAAAA;
    }
  }
  > .banner {
    > a {
      .row {
        padding: 0;
      }
    }
  }
}
.myinfo {
  padding-top: 20px;
  margin-bottom: 10px;
  .row {
    justify-content: start;
  }
  em {
    font-size: inherit;
    line-height: inherit;
    font-weight: 800;
  }
}
.search_wrap {
  margin-bottom:15px;
  input {
    padding-right:50px;
    background-color: #F5F7F8;
    border-color:#F5F7F8;
    border-radius: 23px;
  }
  .btn {
    position:absolute;
    right:30px;
    border:0;
    width:30px;
    height:30px;
    padding:0;
    background-color: transparent;
    text-align: center;
    outline: 1px;
    i {
      margin-left:0;
    }
  }
}
.section {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:35px;
  margin: 0;
}
.sec_heading {
  position:relative;
  margin-bottom:15px;
  h2 {
    font-size:1.375rem;
    font-weight: 700;
    line-height:1.35;
    p {
      margin-top:5px;
      font-size:0.938rem;
      color:#999999;
    }
  }
  .btn_all {
    position:absolute;
    bottom:2px;
    right:7px;
    font-size:0.938rem;
    font-weight: 700;
    i {
      &:before {
        transform: translate(-50%, -60%) rotate(225deg);
      }
    }
  }
}
.product_list {
  margin-left:-20px;
  margin-right:-20px;
}
.item_list {
  .item {
    width: 100%;
    > a {
      display: block;
      width:100%;
      height:100%;
    }
  }
  .figure {
    img {
      width: 100%;
    }
  }
}
.likes, .replies {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  color: #999;
  font-size: 0.813rem;  
  letter-spacing: -0.02em;
  padding-left: 16px;
  i {
    display: inline-block;
    width: 12px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: {
      size: cover;
      position: center center;
      repeat: no-repeat;
    }        
  }
}
.likes {
  i {
    background-image: url(../images/icons/ic_data-likes.png);
  }
  &._w {
    i {
      width: 13px;
      height: 11px;
      background-image: url(../images/icons/ic_data-likes-w.png);
    }
  }
}
.replies {
  margin-left: 12px;
  i {
    background-image: url(../images/icons/ic_data-replies.png);
  }
  &._w {
    i {
      width: 13px;
      height: 11px;
      background-image: url(../images/icons/ic_data-replies-w.png);
    }
  }
}

.keyvisual {
  padding-left:20px;
  padding-right:20px;
  .figure {
    position:relative;
    padding-bottom:106.25%;
    border-radius: 20px;
    overflow: hidden;
    background: {
      size:cover;
      position:center center;
      repeat: no-repeat;
    }
  }
  a {
    display: block;
    position: relative;
    h3 {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 800;
      letter-spacing: -0.03em;
    }
    > div {
      position: absolute;
      bottom: 16px;
      left: 20px;
      span {
        font-family: "Roboto";
        color: #fff;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
  .swiper-pagination {
    width: auto;
    display: inline-block;
    left: auto;
    bottom: 15px;
    right: 35px;
    text-align: right;
    color: #fff;
    font-weight: 400;
    font-size: 0.7rem;
    .swiper-pagination-current {
      font-family: 'roboto';
      color: #fff;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
      vertical-align: baseline;
    }
    .swiper-pagination-total {
      font-family: 'roboto';
      color: #fff;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: inherit;
      vertical-align: baseline;
    }
    padding: 1px 10px 2px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
  }
}
.shopmain_sec {
  padding-bottom:40px;
  .maininfo {
    margin-top: 10px;
    .row {
      justify-content: space-between;
    }
    .item {
      &:not(:last-of-type) {
        margin-right: 15px;
      }
      a {
        display: block;
        text-align: center;
        .img {
          display: inline-block;
        }
      }
      .tit {
        display: block;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
        i {
          display: inline-block;
          font-style: normal;
          line-height: inherit;
          font-size: 0.875rem;
          letter-spacing: -0.03em;
          margin-bottom: 2px;
          &::after {
            content: '+';
            display: inline-block;
            width: 5px;
            height: 5px;
            font-size: 0.313rem;
            font-weight: 800;
            vertical-align: super;
          }
        }
      }
    }
  }
}

.sec_talk {
  .tab-navigation {
    margin-right:-20px;
    border-bottom:0;
    p {
      margin-left:0;
      margin-right:17px;
      &.active {
        span::after {
          margin-top:4px;
          height:2px;
        }
      }
    }
  }
  .banner {
    border-radius: 20px;
    overflow: hidden;
    background: {
      size: 100%;
      position: center center;
      repeat: no-repeat;
    }
    > a {
      .row {
        display: block;
      }
    }
    .txt {
      padding-top: 15px;
      padding-bottom: 15px;
      color: #fff;
      font-size: 1.375rem;
      line-height: 1.875rem;
      font-weight: 800;
      &::before {
        content: '#';
        margin-right: 5px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
      }
    }
  }
  .item_list {
    margin-top: 20px;
    .item {
      margin-left: 10px;
      padding-bottom: 20px;
      border-left: 1px dotted #999;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #000;
      }
      &:last-of-type {
        border: none;
        padding-bottom: 0;
      }
    }
    .row {
      justify-content: space-between;
    }
    .item_conts {
      max-width: calc(100% - 95px);
      margin-top:-5px;
      .date {
        display: block;
        font-family: 'Roboto';
        color: #999;
        font-size: 0.813rem;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
      }
      .tit {
        line-height: 1.625rem;
        font-weight: 800;
        letter-spacing: -0.02em;
        @include ellipse(1);
        margin-bottom: 5px;
      }
      .txt {
        line-height: 1.5rem;
        font-weight: 400;
        letter-spacing: -0.02em;
        @include ellipse(1);
      }
      > div {
        margin-top: 10px;
        white-space: nowrap;
      }
    }
    .figure {
      max-width: 80px;
      margin-left: 12px;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
.sec_my {
  .product_list {
    .info {
      height: 95px;
    }
  }
  .btn_wrap {
    padding-top: 20px;
    text-align: center;
    .btn {
      display: block;
      width: 100%;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    i {
      font-style: normal;
      font-weight: inherit;
    }
  }
}
.sec_best {
  padding-bottom:60px;
  .item {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 5px;
      left: 0;
      width: 72px;
      height: 72px;
      background: {
        size: 100%;
        position:center center;
        repeat: no-repeat;
      }
    }
    &:nth-of-type(1) {
      &::before {
        left: 5px;
        width: 86px;
        height: 86px;
        background-image: url(../images/icons/ic_list-num_01.png);
      }
    }
    &:nth-of-type(2) {
      &::before {
        background-image: url(../images/icons/ic_list-num_02.png);
      }
    }
    &:nth-of-type(3) {
      &::before {
        background-image: url(../images/icons/ic_list-num_03.png);
      }
    }
    &._full {
      background-color: #EAF2F8;
      .price {
        .sale {
          display: inline-block;
          margin-right:5px;
        }
      }
    }
  }
  .product_list {
    .figure {
      padding-bottom: 83.34%;
    }
    .info {
      margin-top: 5px;
      height: auto;
    }
    .name {
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.02em;
      @include ellipse(2);
    }
    .price {
      margin-top: 5px;
      .discount {
        font-size:18px;
      }
      .origin {
        font-size: 18px;
      }
    }
  }
  .banner {
    margin-top: 10px;
    background: {
      size: 100%;
      position: center center;
      repeat: no-repeat;
    }
    > a {
      .row {
        padding: 0;
      }
    }
  }
  ol {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-family: "Roboto";
        
        line-height: 1.5rem;
        font-weight: 700;
        padding-bottom: 5px;
      }
      p {
        width: calc(100% - 40px);
        margin-left: 5px;
        line-height: 1.5rem;
        @include ellipse(1);
      }
      i {
        display: inline-block;
        width: 10px;
        height: 8px;
        background: {
          size: 100%;
          position: center center;
          repeat: no-repeat;
        }
        &.ic_up {
          background-image: url(../images/icons/ic_up.png);
        }
        &.ic_down {
          background-image: url(../images/icons/ic_down.png);
        }
      }
    }
  }
}
.sec_mdpick {
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
  .sec_heading {
    padding-left: 20px;
    padding-right: 20px;
    .btn_all {
      right: 20px;
    }
  }
  .sec_main {
    width: 100%;
    position: relative;
    > a {
      display: block;
    }
		.figure {
			position: relative;
			padding-bottom: 62%;
			overflow: hidden;
			img {
				position: absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%, -50%));
			}
		}
    .item_conts {
      margin-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .name {
      line-height: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.02em;
      @include ellipse(2);
    }
    .price {
      margin-top: 5px;
      .origin {
        font-size: 1.25rem;
      }
      .sale {
        display: inline-block;
      }
      .discount {
        font-size: 1.25rem;
      }
    }
  }
  .item_list {
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    .row {
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
    }
    .item {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
    .item_conts {
      max-width: 100%;
      width: 100%;
      padding-right: 20px;
      .name {
        line-height: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        @include ellipse(2);        
      }
    }
    .figure {
      max-width: 78px;
      margin-right: 20px;
    }
  }
  .price {
    margin-top: 10px;
    span {
      margin-right:6px;
    }
    .origin {
      font-size: 1.125rem;
    }
    .sale {
      display: inline-block;
    }
  }
  .btn_wrap {
    padding-top: 20px;
    text-align: center;
    .btn {
      display: block;
      width: 100%;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    i {
      font-style: normal;
      font-weight: inherit;
    }
  }
}
.cta_wrap {
  display: flex;
  justify-content: space-between;
  .banner {
    &:last-of-type {
      margin-left: 8px;
    }
  }
}
.sec_info {
  padding-right:0;
  .sec_heading {
    padding-right:20px;
    .btn_all {
      right:20px;
    }
  }
  .swiper-container {
    margin-top: 20px;
    padding-right: 25px;
  }
  .swiper-slide {
    &:last-child {
      margin-right:0;
    }
    a {
      width: 100%;
      display: inline-block;
      .img {
        min-height: 100%;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }
  .tag {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
  }
  .tit_wrap {
    padding-left: 10px;
    .tit {
      margin-top: 15px;
      font-size: 1.125rem;
      font-weight: 700;
      @include ellipse(2);
    }
    .txt {
      margin-top: 8px;
      display: block;
      font-size: 0.813rem;
      letter-spacing: -0.02em;
      @include ellipse(1);
    }
  }
  .btn_all {
    line-height: 1.5rem;
    font-weight: 700;
    i {
      transform: translate(-0.25rem, -0.05rem);
      width: 10px;
      height: 24px;
      &::before {
        width: 6px;
        height: 6px;
      }
    }
  }
}

/** Main 
****************************************/

/** Main > Market *********************/
.sub-main {
  .section {
    padding-top:0;
    overflow: hidden;
  }
  .top_banner {
    .banner {
      width:100%;
      padding:17px 10px;
      background-color: #F0FAFF;
      text-align: center;
      p {
        font-weight: 700;
        span {
          font-weight: 700;
          color:#009AFF;
        }
      }
    }
  }
  .subtop_swipe {
    margin:20px 20px 0 20px;
    border-radius: 10px;
    overflow: hidden;
    .figure {
      position:relative;
      padding-top:55.556%;
      background: {
        repeat: no-repeat;
        position:center center;
        size:cover;
      }
    }
    .swiper-pagination-fraction {
      width:54px;
      height:20px;
      left:inherit;
      right:10px;
      padding:1px 0;
      background-color: rgba(0,0,0, 0.2);
      border-radius: 50px;
      font-family: 'roboto';
      font-size:12px;
      color:#fff;
      z-index: 1;
      span {
        margin:0 1px;
        font-family: 'roboto';
        font-size:12px;
        color:#fff;
        font-weight: 300;
      }
      .swiper-pagination-current {
        font-weight: 700;
      }
    }
  }
  .product_list {
    margin-left:-24px;
    margin-right:-24px;
    .item {
      position:relative;
      // &:nth-of-type(2n-1) {
      //   clear:none;
      // }
    }
    .chkwrap.likechk {
      position:absolute;
      right:10px;
      top:10px;
      z-index: 1;
    }
    .price {
      .discount {
        font-size:18px;
      }
    }
    .btn_wrap._foo {
      min-height:50px;
      padding-left:18px;
      padding-right:18px;
      padding-bottom:18px;
    }
  }
}
.category-main {
  .category-summary {
    border-bottom:8px solid #F0F0F0;
    .figure {
      position:relative;
      width:100%;
      padding-bottom:44%;
      overflow: hidden;
      img {
        position:absolute;
        left:50%;
        top:50%;
        width:100%;
				@include transform(translate(-50%, -50%));
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .desc {
      padding:20px;
      dt {
        padding-bottom:8px;
        font-size:18px;
        font-weight: 800;
      }
      dd {
        line-height:1.5;
      }
    }
  }
}