@charset "utf-8";
@import "mixins";

//** Challenge Common
.mission_wrap {
	padding-bottom: 100px;
  .section {
    padding-top:0;
    overflow: hidden;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 0;
		border-top: 8px solid #F5F7F8;
		border-bottom: 1px solid #E5E5E5;
  }
	.row {
    display: block;
		overflow: hidden;
	}
	.tit_wrap {
		position: relative;
		padding: 20px 0;
		text-align: left;
		.row {
			padding-left: 0;
			padding-right: 0;
		}
		h3, h4 {
			position: relative;
			line-height: 1.5rem;
			font-weight: 800;
			letter-spacing: -0.02em;
			span {
				margin-left: 8px;
				color: #999;
				font-size: 13px;
				line-height: inherit;
				font-weight: 400;
				letter-spacing: inherit;
			}
      em {
        color: #009AFF;
        font-weight: 800;
      }
		}
    .btn_all {
      position: absolute;
      top: 2px;
      right: 0;
      font-weight: 700;
      i.right {
        width: 12px;
        height: 12px;
        overflow: hidden;
        margin-top: -1px;
        margin-left: 0;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 6px;
          height: 6px;
          transform: translate(-50%, -50%) rotate(45deg);
          border-top: 2px solid #111;
          border-right: 2px solid #111;
          border-left: 0;
          border-bottom: 0;
        }
      }
    }
	}	
	.btn.blue {
		border: 0;
		width: 100%;
		height: 44px;
		color: #fff;
		line-height: 1;
		font-weight: 700;
		background-color: #009AFF;
		&.disabled {
			background-color: #D8DBDD;
		}
	}
	.label {
		position: absolute;
		right: 5.5%;
		top: 16%;
		padding: 1.667% 2.222%;
		border-radius: 6px;
		color: #fff;
		font-size: 0.75rem;
		font-weight: 700;
		text-align: center;
		background-color: #2D3D4A;
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			right: 10%;
			border-style: solid;
			border-width: 5px 4px 5px 4px;
			border-color: #2D3D4A transparent transparent transparent;
			width: 0;
			height: 0;
		}
	}
  .borad_wrap {
    border-bottom: 0;
    > .btn_wrap {
      margin-top: 20px;
      .btn {
        width: 100%;
        height: 44px;
        line-height: 1;
        border-color: #AAA;
      }
    }
  }
}
.subtop_sec {
  margin: 0;
  padding: 0 20px 30px;
  border-bottom: 1px solid #E5E5E5;
}
.graphing_sec {
  margin-top: 35px;
  position: relative;
  margin-bottom: 45px;
  .graph {
    z-index: 1;
    position: relative;
    height: 166px;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 10px;
      left: 0;
      right: 0;
      background: {
        image: linear-gradient(to top, #fff, #fff 30px, #F0F0F0 30px, #F0F0F0 31px);
        size: 100% 31px;
      }
    }
  }
  .graph-x {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 156px;
    width: 100%;
    padding: 20px 20px 0;
    .percent {
      position: relative;
      text-align: center;
      width: 20px;
      height: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #F0F0F0;
      span {
        width: 20px;
        position: absolute;
        bottom: -26px;
        left: 0;
        color: #999;
        font-size: 13px;
      }
    }
    .today {
      background: {
        image: linear-gradient(to top, #0079F2, #00C4FF);
      }					
      span {
        color: #000;
        font-weight: 700;
      }
    }
  }
  .label {
    right: 0;
    top: -30px;
    padding: 5px 6px;
    font-family: 'roboto';
    font-size: 12px;
    line-height: 1;
    border-radius: 4px;
    &::after {
      right: 13.5%;
    }
  }
}
.ui-accordion {
  position: relative;
  .target {
    padding: 0;
  }
  .toggle_trigger {
    border:0;
    position: absolute;
    top: -10px;
    right: 0;
    width:40px;
    height:40px;
    padding-right:0;
    font-weight: 700;
    i {
      @include iconAngle($direction: 'down', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
    vertical-align: middle;
    }
    &[aria-pressed="true"] {
      i {
        @include iconAngle($direction: 'up', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
      vertical-align: middle;
      }
    }
  }
  .panel {
    padding: 0;
  }
  .item {
    border-bottom: 0;
  }
}
.gauge {
  text-align: left;
  margin-bottom: 20px; 
  dt { 
    font-size: 14px; 
    font-weight: 500; 
    span { 
      position: relative;
      display: inline-block;
    }
  }
  dd {
    margin-bottom: 10px;
    .gaugebar { 
      width: 100%;
      width:calc(100% - 70px);
      height: 24px; 
      background-color: transparent;
      border-radius: 4px;
      span { 
        position: relative;
        display: flex; 
        justify-content: flex-start; 
        align-items: center; 
        width: 0;
        height: 100%;
        padding-left: 10px; 
        color: #666;
        font-size: 13px; 
        text-align: left;
        border-radius: 4px;
        transition: 1.3s ease-in; 
        background-color: #F0F0F0;
      }
      i {
        color: #AAA;
        font-style: normal;
        font-family: 'roboto';
        font-size: 13px;
        position: absolute;
        left: calc(100% + 6px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .today {
      span {
        color: #fff; 
        background: {
          image: linear-gradient(to right, #0079F2, #00C4FF);
        }
      }
    }
  }
}
dl.desc {
  margin: 40px 0 -100px;
  padding: 0 20px 40px;
  color: #666;
  font-size: 13px;
  background-color: #F5F7F8;
  dt {
    padding-top: 24px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  dd {
    margin-top: 10px;
    position: relative;
    padding-left: 8px;
    color: inherit;
    font-size: inherit;
    line-height: 1.3;
    &::before {
      content: '·';
      position: absolute;
      left: 0;
    }
  }
}
ul.noti {
  text-align: left;
  margin-bottom: 30px;
  li {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding-left: 8px;
    color: #666;
    font-size: 13px;
    line-height: 1.3;
    &::before {
      content: '·';
      position: absolute;
      left: 0;
    }
  }
}
.amount {
  width:100%;
  max-width:100%;
  .calc {
    position:absolute;
    top: -2px;
    width:30px;
    height:30px;
    border:1px solid #D8DBDD;
    border-radius: 50%;
    background-color: #fff;
    &._minus {
      left:0;
    }
    &._plus {
      right:0;
    }
  }
}

.product_list {
  .type01 {
    position: relative;
    .tit {
      color: #760214;
    }
  }
  .type02 {
    position: relative;
    .tit {
      color: #24416F;
    }
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}	
.head_date {
  position: relative;
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  em {
    color: #009AFF;
    font-size:15px;
    font-weight: 700;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: 13px;
  }
}


.mis-main {
  .section {
    padding-bottom: 30px;
  }
  .subtop_wrap {
    h3 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 20px;
      em {
        font-family: 'roboto';
        font-size: 24px;
        line-height: inherit;
        font-weight: inherit
      }
    }
  }  
  .fig_sec {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F5F7F8;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #666;
      font-size: 13px;
    }
    .fig {
      margin-top: 4px;
      display: block;
      color: #000;
      font-family: 'roboto';
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
    }
    .btn {
      height: 28px;
      line-height: 1;
    }
  }
  .product_list {
    .tit {
      text-align: left;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: 800;
      span {
        display: block;
        color: inherit;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 6px;
      }
    }
    .item.banner {
      overflow: hidden;
      margin-bottom: 10px; 
      > a {
        position: relative;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 0 31.25% 0;
        border-radius: 20px;
        background: {
          size: cover;
          position: center center;
          repeat: no-repeat;
        };
        overflow: hidden;
      }      
      &._missionend  {
        > a {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, .2);
          }
        }
      }
      @media screen and (min-width: 768px) {
        > a {
          max-height:100px;
          padding: 0 0 27.25% 0;
        }
      }
    }
  }
}


//** Popup Layers 
.exchanged_popup {
	.tit_wrap {
		margin: 20px 0 22px;
		font-weight: 700;
		line-height: 24px;
		vertical-align: baseline;
		text-align: center;
		span {
			font-family: 'roboto';
			font-weight: inherit;
			line-height: inherit;
			vertical-align: baseline;
		}
	}
	.fig_sec {
		padding: 20px;
		margin-bottom: 20px;
		background-color: #F5F7F8;
		border-radius: 20px;
		display: flex;
		justify-content: space-between;
		.tit {
			color: #666;
			font-size: 13px;
			line-height: 18px;
		}
		.fig {
			font-family: 'roboto';
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
		}
	}
}

.mis-walk {
  .section {
    padding-left: 0;
    padding-right: 0;
    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .tit_wrap {
    border-bottom: 1px solid #E5E5E5;
  }
  > h3 {
    padding: 0 20px 20px;
    border-bottom: 1px solid #E5E5E5;
    p {
      font-size: 28px;
      line-height: 43px;
      font-weight: 700;
      em {
        margin-top: -2px;
        display: inline-block;
        font-family: 'roboto';
        font-size: 36px;
        line-height: inherit;
        font-weight: inherit;
      }
    }
    span {
      margin-top: 6px;
      display: block;
      font-weight: 700;
      em {
        color: #009AFF;
        font-weight: inherit;
      }
    }
  }
  .subtop_wrap {
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      em {
        margin-top: -5px;
        display: inline-block;
        font-family: 'roboto';
        font-size: 24px;
        font-weight: inherit;
        letter-spacing: -0.002em;
      }
      span {
        display: block;
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
    i {
      position: absolute;
      left: -22px;
      top: -1px;
    }
    .fig_sec {
      position:relative;
      padding:20px;
      margin-bottom: 8px;
      border-radius: 20px;
      background-color: #F5F7F8;
      .cnt {
        display: block;
        font-size:18px;
        font-weight: 700;
        font-family: 'roboto';
      }
      .btn {
        position:absolute;
        right:20px;
        top: 50%;
				@include transform(translateY(-50%));
      }
    }
    .desc {
      color: #999;
      font-size: 13px;
      padding-left: 2px;
    }
  }
  .gauging_sec {
    padding-bottom: 0;
    .tit_wrap {
      border-bottom: 0;
      h4 {
        font-size: 20px;
        font-weight: 700;
        span {
          margin: 0 0 4px;
          display: block;
          color: #000;
        }
        strong {
          color: #009AFF;;
        }
        em {
          font-family: 'roboto';
          font-size: 24px;
        }
      }
    }
    .item {
      .toggle_trigger {
        top: 50%;
        transform: translateY(-50%);
        i:before {
          margin-top: 4px;
          border-right: 0;
          border-bottom: 0;
          border-top: 1px solid #111;
          border-left: 1px solid #111;
        }
      }
    }
    .gauge {
      dt {
        margin-top: 4px;
        display: block;
        font-size: 13px;
        font-weight: 700;
        strong {
          margin: -7px 4px 4px 0;
          display: inline-block;
          font-family: 'roboto';
          font-size: 20px;
          font-weight: inherit;
        }
      }
    }
  }
  .prd_sec {
    .product_list {
      .item {
        .figure {
          width:120px;
          padding-bottom:31.5%;
          margin-right: 15px;
        }
        .info {
          width:calc(100% - 135px);
          margin-top: 15px;
          padding: 0 15px 0 0;
        }
        .chkwrap.likechk {
          top: 25px;
          right: 10px;
        }
        &:last-of-type {
          padding-bottom:0;
        }
      }
      .name {
        @include ellipse(2);
      }
      .price {
        .sale {
          display: block;
        }
      }
    }
  }
  .talklist_sec {
    padding-bottom: 0;
		.item {
			border-bottom: 8px solid #F5F7F8;
			padding: 0;
			&:last-of-type {
				border-bottom: none;
			}
		}
		.user_info {
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.date {
			font-family: "roboto";
			color: #999;
			font-size: 13px;
			font-weight: 400;
			line-height: inherit;
			vertical-align: baseline;
			white-space: nowrap;
		}
		.btn_fnc {
			float: right;
			width: 20px;
			height: 20px;
			background-image: url(../images/icons/item_btn-more.png);
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.headdata {
			display: flex;
			justify-content: start;
			align-items: center;
			margin-right: auto;
			p {
				margin-right: 6px;
				font-family: "roboto";
				font-size: 0.813rem;
				line-height: 1rem;
				vertical-align: middle;
			}
			.userid {
				max-width: 190px;
				font-family: "roboto";
				font-size: 13px;
				font-weight: 500;
				line-height: inherit;
				@include ellipse(1);
			}
			.date {
				&::before {
					content: '·';
					padding-right: 4px;
					width: 1px;
					height: inherit;
					color: inherit;
					font-size: inherit;
					line-height: inherit;
					vertical-align: inherit;
				}
			}
			.img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				overflow: hidden;
			}
		}
		.posthead {
			padding-bottom: 20px;
			border-bottom: 1px solid #F0F0F0;
			.headdata .img {
				width: 32px;
				height: 32px;
			}
		}
		.post {
			padding: 20px 0 0;
			.edit {
				padding:0 20px 30px;
				border-bottom: 1px solid #F0F0F0;
				font-size: 15px;
				line-height: 24px;
				p, span {
					font-size: inherit;
					line-height: inherit;
					font-weight: inherit;
					vertical-align: inherit;
				}
			}
			.para {
				min-height: 150px;
				padding-bottom: 20px;
				border-bottom: 1px solid #F0F0F0;
			}
		}
    .more {
      padding: 12px 20px;
      border-bottom: 1px solid #E5E5E5;
    }
  }
  .recomm_sec {
    padding-bottom: 10px;
    border-bottom: 0;
  }
}

.today-mission {
  padding-bottom:0;
  &[class*="type"] {
    padding-bottom: 0;
  }
  .section {
    padding-left: 0;
    padding-right: 0;
    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
    &:first-of-type {
      border-top: 0;
    }
    &:last-of-type {
      border-bottom: 0;
    }
    &:last-child {
      padding-bottom:150px;
    }
  }
  .tit_wrap {
    border-bottom: 1px solid #E5E5E5;
  }
  h3 {
    margin-top: 15px;
    padding: 0 20px 20px;
    border-bottom: 1px solid #E5E5E5;
    p {
      font-size: 28px;
      line-height: 43px;
      font-weight: 700;
      em {
        margin-top: -2px;
        display: inline-block;
        font-family: 'roboto';
        font-size: 36px;
        line-height: inherit;
        font-weight: inherit;
      }
    }
    span {
      margin-top: 6px;
      display: block;
      font-weight: 700;
      em {
        color: #009AFF;
        font-weight: inherit;
      }
    }
  }
  dl.desc {
    margin-top: -20px;
    margin-bottom: 0;
    padding-bottom: 24px;
  }  
  .label {
    top: 1%;
    width: 72px;
    height: 72px;
    padding: 18px 15px 15px !important;
    font-size: 12px;
    border-radius: 50%;
    background-color: #FF8D1C;
    -webkit-box-shadow: 2px 5px 20px -6px rgba(255,119,0,0.62);
    -moz-box-shadow: 2px 5px 20px -6px rgba(255,119,0,0.62);
    box-shadow: 2px 5px 20px -6px rgba(255,119,0,0.62);
    span {
      display: block;
      font-family: 'roboto';
      color: inherit;
      font-size: 18px;
      font-weight: inherit;
    }
    &::after {
      content: none;
    }
  }
  //****************************************/
  .subtop_sec {
    padding: 0;
    h3 {
      border-bottom: 0;
    }
  }
  .section {
    text-align: center;
    h3 {
      text-align: left;
    }
    .item {
      position: relative;
      .img {
        margin-top: 20px;
      }
      .tit {
        margin-top: 15px;
        font-size: 26px;
        font-weight: 800;
      }
      .title {
        font-size: 26px;
        font-weight: 800;
      }
      p {
        margin-top: 15px;
        line-height: 1.6;
        margin-bottom: 30px;
      }
      .frm {
        & + .frm {
          margin-top: 10px;
        }
        position: relative;
        display: flex;
        align-items: center;
        min-height: 56px;
        background-color: #F5F7F8;
        border-radius: 6px;
        input {
          position:absolute;
          left:0;
          bottom:0;
          border: 0;
          height: 100%;
          padding-left: 40%;
          padding-right: 45px;
          padding-top:10px;
          font-family: 'roboto';
          font-size: 26px;
          font-weight: 700;
          text-align: right;
          background-color: transparent;
        }
        ::-webkit-input-placeholder{
          font-size: 26px;
          font-weight: 700;
          color:#D8DBDD;
        }
        ::-moz-placeholder{
          font-size: 26px;
          font-weight: 700;
          color:#D8DBDD;
        }
        ::-ms-placeholder {
          font-size: 26px;
          font-weight: 700;
          color:#D8DBDD;
        }
        span {
          flex:1;
          display: block;
          font-weight: 700;
        }
        .placeholder {
          padding-left:20px;
          text-align: left;
        }
        .unit {
          padding-right:20px;
          font-size: 20px;
          text-align: right;
        }
        .percent {
          padding-right:20px;
          font-family: 'roboto';
          font-size: 20px;
          color:#009AFF;
          text-align: right;
        }
        .amount {
          position: relative;
          margin-right: 20px;
          flex: 1.2;
          display: flex;
          justify-content: space-between;
          input[type=number] {
            width: calc(100% - 60px);
            padding: 0;
            margin-left: 30px;
            text-align: center;
          }
          .unit {
            padding-right: 0;
            margin-right: 38px;
          }
        }
        .progress {
          position:absolute;
          bottom:20px;
          left:50%;
          transform: translateX(-50%);
          width:calc(100% - 40px);
          height:6px;
          border-radius: 6px;
          background-color: #D8DBDD;
          overflow: hidden;
          > p {
            padding:0;
            margin:0;
            width:0%;
            height:100%;
            border-radius: 6px;
            background: {
              image: linear-gradient(to right, #00C4FF,#0079F2);
            }
          }
        }
        &.progress-frm {
          height:82px;
          align-items: flex-start;
          span {
            padding-top:20px;
          }
          .percent {
            padding-top:15px;
          }
        }
      }  
    }
    & + dl.desc {
      padding-top: 24px;
      padding-bottom: 40px;
    }
  }
}

.mission-status {
  padding:30px 20px;
  border-top:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
  background-color: #F5F7F8;
  & + dl.desc {
    margin-top:0;
  }
  .ti {
    font-size:15px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .status-list {
    li {
      position: relative;
      display: flex;
      margin-top: 12px;
      align-items: center;
      &:first-of-type {
        margin-top:0;
      }
    }
    .day {
      width:60px;
      font-size:15px;
      font-weight: 700;
      span {
        display: block;
        margin-top:2px;
        font-size:13px;
        color:#999999;
      }
    }
    .stat {
      position:relative;
      width:calc(100% - 60px);
      input {
        padding-right: 31px;
        font-family: 'roboto';
        font-size: 18px;
        font-weight: 700;
        text-align: inherit;
        &:disabled {
          background-color: #fff;
          color: #000;
          & + span {
            color: #999;
          }
        }
      }
      &.right {
        text-align: right;
      }
      &.left {
        text-align: left;
        input {
          font-family: inherit;
          font-size: 15px;
          padding-right: 100px;
        }
      }
      .unit {
        position:absolute;
        right:16px;
        top:53.667%;
        @include transform(translateY(-50%));
        font-size:15px;
        font-weight: 700;
      }
    }
    .inp_wrap {
      input {
        padding-right: 76px;
      }
      .unit {
        right: 62px;
      }
      .btn {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        border: 0;
        font-size: 13px;
        font-weight: 700;
        &[class*="filesrch"] {
          color: #fff;
          background-color: #009AFF;
        }
        &[class*="attached"] {
          color: #999;
          background-color: #EDEDED;
          i {
            margin-top: 1px;
            display: inline-block;
            width: 14px;
            height: 14px;
            background: {
              image: url(../images/icons/icon_gallery_small.png);
              size: 14px;
              repeat: no-repeat;
              position: center center;
            };
          }
        }
        &[class*="save"] {
          color: #fff;
          background-color: #009AFF;
        }
      }
    }
  }
  .status-result {
    display: flex;
    align-items: center;
    padding:11px 20px;
    margin-top:20px;
    border-radius: 6px;
    background-color: #009AFF;
    p {
      flex:1;
      font-size:15px;
      font-weight: 700;
      color:#fff;
    }
    .cnt {
      font-family: 'roboto';
      font-size:26px;
      text-align: right;
    }
    .unit {
      display: inline-block;
      margin-left:3px;
      margin-top:-3px;
      font-size:20px;
      color:#fff;
      vertical-align: middle;
    }
  }
  .noti {
    margin-bottom:0;
  }
  &._closed {
    border: 0;
    margin-top: 0;
    padding-top: 0;
    background-color: #fff;
    > .btn_wrap {
      margin-top: 24px;
      margin-bottom: 10px;
      .btn {
        width: 100%;
        border-color: #AAA;
      }
    }
  }
}
.result_detail {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F5F7F8;
  border-radius: 6px;
  dt {
    display: block;
    padding: 24px 0;
    font-weight: 800;
  }
  dd {
    border-top: 1px solid #E5E5E5;
    display: block;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    span {
      font-weight: inherit;
    }
  }
  em {
    font-weight: inherit;
    &.success {
      color: #009AFF;
    }
    &.fail {
      color: #FF2B4C;
    }
  }
}

.mission-points {
  border-top: 1px solid #E5E5E5;
  .mis-topsec {
    position: relative;
    padding-top: 20px;
    text-align: center;
    background-color: #F5F7F8;
    background-image: linear-gradient(rgba(245, 247, 248, 1) 0, rgba(245, 247, 248, 1) 300px, rgba(255, 255, 255, 1) 300px, rgba(255, 255, 255, 1) 100%);
    .title {
      font-weight: 800;
      margin-bottom: 4px;
    }
    & + .btn_wrap {
      padding-left: 20px;
      padding-right: 20px;
      .btn {
        display: block;
        height: 44px;
        line-height: 1;
        background-color: #fff;
        border-color: #AAA;
      }
    }
    .figs {
      display: block;
      font-family: 'roboto';
      color: #009AFF;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 11px;
      span {
        color: inherit;
        font-size: 21px;
        font-weight: 800;
        vertical-align: bottom;
      }
    }
    .desc {
      color: #666;
      font-size: 13px;
    }
    ._banner {
      position: relative;
      margin: 24px 20px 30px;
      padding: 24px 20px;
      text-align: left;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
      h3 {
        font-weight: 800;
        margin-bottom: 12px;
      }
    }
    .chkwrap {
      margin: 12px 0 20px;
      label {
        font-weight: 700;
        .desc {
          margin-top: 4px;
          display: block;
          color: #999;
        }
      }
    }
  }
  .points_exchange {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    .fig_sec {
      flex: 1;
      text-align: left;
      .tit {
        color: #666;
        font-size: 13px;
        margin-bottom: 6px;
      }
      .fig {
        &._result {
          color: #D8DBDD;
        }
        input {
          border: 0;
          font-family: 'roboto';
          color: inherit;
          font-size: 24px;
          &::placeholder {
            font-family: inherit;
            color: inherit;
            font-size: inherit;
          }
          &.empty {
            color: #D8DBDD;
            background-color: transparent;
          }
        }
      }
    }
    i {
      display: block;
      width: 24px;
      min-height: 50px;
      margin-left: 20px;
      margin-right: 20px;
      background: {
        size: 24px;
        position: center center;
        repeat: no-repeat;
        image: url(../images/icons/icon-arrow.png);
      }
    }
    p.desc {
      margin-top: 18px;
      width: 100%;
      color: #999;
    }
  }
  .table_sec {
    .list_sort {
      padding-left: 20px;
      padding-right: 20px;
    }
    & + .btn_wrap {
      padding-left: 20px;
      padding-right: 20px;
      .btn {        
        display: block;
        height: 44px;
        line-height: 1;
        background-color: #fff;
        border-color: #AAA;
      }
    }
    table {
      margin-top: 0;
    }
    td {
      text-align: center;
      font-size: 13px;
      &:not(:nth-of-type(2)) {
        font-family: 'roboto';
      }
      &:last-of-type {
        text-align: right;
        color: #009AFF;
        font-weight: 700;
      }
    }
    .empty {
      td {
        width: 100%;
        text-align: center;
        color: #000;
        font-weight: 400;
      }
    }
    td:nth-of-type(1), th:nth-of-type(1) {
      flex: 1.2;
    }
    td:nth-of-type(2), th:nth-of-type(2) {
      flex: 1.5;
    }
    td:nth-of-type(2), th:nth-of-type(2) {
      flex: 1.5;
    }
    td:nth-of-type(4), th:nth-of-type(4) {
      flex: 1.2;
      padding-right:10px;
    }
  }
}

.mis-history {
  .subtop_sec {
    padding: 0;
  }
  .select_sec {
    padding: 30px;
    border-top: 1px solid #E5E5E5;
    > div {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
    }
    .tab {
      a {
        display: inline-block;
        color: #AAA;
        font-weight: 700;
        margin-right: 8px;
        &::after {
          content: '|';
          color: #D8DBDD;
          font-size: 12px;
          margin-left: 8px;
        }
      }
      &.active {
        a {
          color: #000;
          font-weight: 800;
        }
      }
      &:last-of-type {
        a::after {
          content: none;
        }
      }
    }
  }
  .item {
    .target {
      position: absolute;
      top: 20px;
      right: 20px;
      .toggle_trigger {
        width: auto;
        i:before {
          width: 6px;
          height: 6px;
        }
      }
    }
    .panel {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      .vertical {
        padding-bottom: 20px;
        li {
          margin-bottom:5px;
          position: relative;
          line-height:1.4;
          color:#666;
        }
      }
      .frm_mix {
        display: flex;
        select, input {
          flex:1;
        }
        span {
          position: relative;
          display: inline-block;
          &:last-of-type {
            padding:0 5px;
            &:before {
              content: '-';
              position:absolute;
              left:50%;
              top:50%;
              @include transform(translate(-50%, -50%));
              color:#999;
            }
          }
        }
      }
      .radioselectwrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        li {
          flex: 1;
          text-align: center;
          vertical-align: top;
          &:not(:last-of-type) {
            margin-right: 8px;
          }
        }
        label {
          display: block;
          border:1px solid #E5E5E5;
          border-radius: 6px;
          background-color: #fff;
          background: {
            repeat: no-repeat;
            position: right 20px center;
          }
          > span {
            display: block;
            padding: 13px 20px;
            line-height: 1.333;
            color: #666;
          }
          &.checked {
            border:2px solid #009AFF;
            > span {
              padding: 12px 19px 12px;
              font-weight: 700;
              color:#000;
            }
          }
        }
        input[type=radio]{
          position: absolute;
          top: 0;
          left: -9999px;
          opacity: 0;
        }
      }
    }
  }
  .borad_wrap {
    padding-top: 20px;
  }
  .product_list {
    margin-left:-20px;
    margin-right:-20px;
    margin-bottom: 0;
    .item {
      position: relative;
      width: calc(100% - 40px) !important;
      margin: 0 20px 10px;
      height: 100px;
      border-radius: 20px;
      overflow: hidden;
      > a {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
      }
      .tit {
        font-size: 18px;
        font-weight: 800;
        span {
          display: block;
          color: inherit;
          font-size: 13px;
          font-weight: 400;
          margin-bottom: 6px;
        }
      }
      .img {
        max-width: 120px;
      }
      &._closed  {
        > a {
          z-index: 1;
          &::after {
            z-index: -1;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .2);
            overflow: hidden;
          }
        }
      }
    }
  }
}


//** Datepicker UI
.ui-datepicker {
  display: none;
  position: fixed !important;
  top: 50% !important;
  left: 20px !important;
  right: 20px !important;
  width: calc(100% - 40px) !important;
  z-index: 1000 !important;
  transform: translateY(-50%);
  padding: 0 20px 20px;
  text-align: center;
  border-radius: 20px;
  overflow-y: auto;
  background-color: #fff;
  .ui_calender-title{
    position:relative;
    margin-left:-20px;
    margin-right:-20px;
    margin-bottom:20px;
    padding:23px 20px 21px;
    border-bottom:1px solid #D8DBDD;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    .btn-calclose {
      position:absolute;
      right:15px;
      top:12px;
      width: 40px;
      height: 40px;
      i {
        @include iconX($size: 15px, $thick: 1px, $color: #000, $padding: 0, $display: inline-block, $position: relative)
      }
    } 
  }
}
.ui-datepicker-header {
  position: relative;
  .ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 75px;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui-datepicker-prev {
    left: 0;
    span {
      font-size:0;
      &:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1.5px solid #333;
        border-right: 1.5px solid #333;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  .ui-datepicker-next {
    right: 0;
    span {
      font-size:0;
      &:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1.5px solid #333;
        border-right: 1.5px solid #333;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  select {
    width:auto;
    height:auto;
    padding:0;
    padding-right:30px;
    border:0;
    vertical-align: baseline;
  }
}
table.ui-datepicker-calendar {
  margin-top:10px;
  tr {
    display: flex;
    align-content: space-between;
  }
  th, td {
    flex: 1;
    height: 6vh;
    position: relative;
    span, a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13px;
    }
  }
  th {
    border: 0;
    span {
      color: #666;
    }
  }
  td {
    a {
      font-family: 'roboto';
      font-weight: 700;
    }
  }
  .ui-datepicker-today {
    a.ui-state-highlight {
      width:80%;
      height:80%;
      background-color: #009AFF;
      color:#fff;
      line-height:2.7;
      border-radius: 50%;
    }
  }
}