@charset "utf-8";
@import "mixins";

//** Mypage Common
.my_wrap {
  .section {
    padding-top: 0;
    margin-bottom:0;
  }
  .row {
    justify-content: start;
    padding: 0;
  }
  .item {
    > a {
      display: block;
    }
  }
  .btn {
    &_all {
      margin-top: 8px;
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 0;
      transform: translateY(-50%);
      color: #999;
      font-size: 0.813rem;
      line-height: 1;
      i {
        vertical-align: middle;
        &.down {
          @include iconAngle($direction: 'down', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
        }
      }
    }
    &.primary {
      border-color: #D8DBDD;
    }
    &_edit {
      margin-top: 13px;
      position: absolute;
      right: 0;
      top: 0;
      color: #009AFF;
      font-weight: 700;
      line-height: 1;
    }
    &_edit-pic {
      position: absolute;
      width: 32px;
      height: 32px;
      padding: 6px;
      display: flex;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      background-color: #fff;
      i {    
        width: 100%;
        height: 100%;
        justify-content: center;
        background-size: 100%;
        background-image: url(../images/icons/icon_pic-gray.png);
        background: {
          repeat: no-repeat;
          position: center center;
        }
      }
    }
  }
  .label {
    padding: 7px 12px;
    display: inline;
    border-radius: initial;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    vertical-align: text-bottom;
    margin-right: 0;
    background-color: #fff;
    border: 1px solid #AAA;
    border-radius: 20px;
    vertical-align: baseline;
  }
}
textarea {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.6;
}
.tablist {
  border-top: 1px solid #E5E5E5;
  padding: 0;
}
.tab {
  display: inline-block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  color: #999;
  vertical-align: bottom;
  span {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
  }
  &.active {
    span {
      color: #009AFF;
    }
  }
}
.tab_panel {
  > .btn_wrap {
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;			
    .btn {
      width: 100%;
    }
  }
}
.ui-accordion {
  border-top: none;
  .item {
    border: none;
  }
  .target {
    padding: 0;
  }
  .panel {
    padding: 0;
  }
}
.txtarea {
  position:relative;
  border:1px solid #D8DBDD;
  padding: 2px 16px;
  border-radius: 8px;
  background-color: #fff;
  input {
    &:not([readonly]):focus {
      background-color: #fff;
    }
    width: 100%;
    height: 38px;
    min-height: 38px;
    border:0;
    line-height: 1.6;
    resize: none;
    overflow-y: hidden;
  }
  .txcnt {
    position:absolute;
    bottom:12px;
    right:16px;
    font-family: 'roboto';
    span {
      font-family: inherit;
      font-size: inherit;
      color:#009AFF;
    }
  }
}
.cnt {
  margin-left: 3px;
  font-family: 'Roboto';
  line-height: inherit;
  font-weight: 700;
  letter-spacing: inherit;
  vertical-align: baseline;
  padding-bottom: 1px;
}
.title_wrap {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  .date {
    margin-top: 6px;
    color: #666;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
  }
}
.thumb {
  float:left;
  position:relative;
  > p {
    padding: 15px;
    background-color: #F5F7F8;
    border-radius: 20px;
    overflow: hidden;
  }
}
.details {
  .name {
    @include ellipse(2);
    font-weight: 700;
    line-height:1.33;
    a {
      font-size:inherit;
      font-weight: inherit;
    }
  }
}

//** Popup Layers 
.edit-pic_popup {
	.thumb_list {
		width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		.thumb {
      flex: 1;
      margin: 0 auto 0;
      max-width: 72.5px;
      padding-bottom: 22.66%;
      overflow: hidden;
      border-radius: 50%;
      background: {
        repeat: no-repeat;
        position:center center;
        size:cover;
      }
      margin-right: 4px;
			&:last-of-type {
				margin-right:0;
			}
      &:nth-of-type(1) {
        background-image: url('../images/sub/profile_default.png');
      }
      &:nth-of-type(2) {
        background-image: url('../images/sub/subimg_1.jpg');
      }
      &:nth-of-type(3) {
        background-image: url('../images/sub/subimg_2.jpg');
      }
      &:nth-of-type(4) {
        background-image: url('../images/sub/subimg_3.png');
      }
		}
	}
  .btn_wrap {
    .btn {
      border: 0;
      border-radius: 0;
      border-top: 1px solid #E5E5E5;
    }
  }
}
.attach-gallery_popup {
  .btn_wrap {
    .btn {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #E5E5E5;
    }
  }
}

//****************************************/

.my-main {
  border-top: 1px solid #E5E5E5;
  section {
    border-top: 8px solid #F5F7F8;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px;
    &:first-of-type {
      border-top: 0;
    }
    &:last-of-type {
      padding-bottom: 40px;
      border-bottom: 0;
    }
  }
  .row {
    > .img {
      flex: 1;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
  .myinfo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    li {
      flex: 1;
      border-right: 1px dotted #999;
      border-color: rgba(153, 153, 153, .5);
      &:last-of-type {
        border: 0;
      }
      > a {
        display: block;
        width: 100%;
        text-align: center;
        color: #666;
        font-size: 12px;
        span {
          display: block;
          font-family: "roboto";
          color: #000;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
  }
  //****************************************/
  .sec_myprofile {
    .img {
      max-width: 125px;
    }
    h2 {
			position: relative;
      flex: 4;
      margin-left: 4%;
			> span {
				display: block;
				font-size: 18px;
        font-weight: 700;
        span {
          margin-top: 8px;
          display: block;
          color: #999;
          font-size: 13px;
          font-weight: inherit;
        }
			}
			i {
				font-style: normal;
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
			}	
		}
  } 
  .sec_myshipping {
    .title {
      position: relative;
      font-weight: 800;
      margin-bottom: 20px;
    }
    .btn_all {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      i {
        margin-left: 6px;
      }
    }
    .myshipping {
      border: 1px solid #E5E5E5;
      border-radius: 6px;
    }
    .myinfo {
      padding: 18px 0;
      margin-bottom: 0;
      li {
        flex: 1;
        border-right: 1px dotted #999;
        border-color: rgba(153, 153, 153, .5);
        &:last-of-type {
          border: 0;
        }
        &.shipping_done {
          > a span {
            color: #999;
          }
        }
        > a span {
          font-size: 22px;
        }
      }
    }
    .myhistory {
      border-top: 1px solid #E5E5E5;
      display: flex;
      padding: 14px 0 12px;
      background-color: #F5F7F8;
      overflow: hidden;
      li {
        flex: 1;
        align-self: center;
        font-size: 13px;
        line-height: 26px;
        font-weight: 700;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        span {
          margin-left: 6px;
          display: inline-block;
          color: #009AFF;
          font-family: 'roboto';
          font-size: 15px;
          font-weight: inherit;
        }
        &:not(:last-of-type) {
          border-right: 1px solid #E5E5E5;
        }
      }
    }
  }
  .sec_myacc, .sec_myshop {
    padding: 0;
  }
  [class^="my-manage_"] {
    padding: 20px;
    border-bottom: 1px solid #F0F0F0;
    &:last-of-type {
      border-bottom: 0;
    }
    .title {
      position: relative;
      font-weight: 700;
    }
  }
  .sec_myprofile-edit {
    .row {
      width: 31.25%;
      max-width: 225px;
      justify-content: center;
      margin: 0 auto;
      .img {
        margin: 0 auto;
        max-width: 225px;
      }
      .btn_edit-pic {
        bottom: 0;
        right: 0;
        width: 32%;
        height: 32%;
        max-width: 50px;
        max-height: 50px;
      }
    }
    .txtarea {
      margin: 30px auto 0;
      padding-right: 60px;
      max-width: 768px;
      .txcnt {
        font-size: 13px;
      }
    }
    > p {
      margin-top: 30px;
      text-align: center;
      color: #666;
      font-size: 13px;
    }
  }
}

.my-setting {
  margin: 20px;
  ul {
    padding: 27px 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #F5F7F8;
    li {
      font-weight: 700;
    }
  }
  .desc {
    color: #999;
    font-size: 13px;
    line-height: 1.4;
  }
  .linkwrap {
    &.row {
      position: relative;
      padding-left: 0;
      padding-right: 0; 
      .input_tgg {
        display: none;  
        +.btn_tgg {
          outline: 0;
          position: absolute;
          right: 0;
          top: 50%;
          @include transform(translate(0, -50%));
          display: inline-block;
          width: 70px;
          height: 30px;  
          border-radius: 20px;
          background-color: #AAA;
          padding: 3px;
          cursor: pointer;
          user-select: none;
          @include transition(.3s, ease-in-out);  
          &:after {
            position: absolute;
            display: inline-block;
            content: "";
            background: #fff;
            width: 24px;
            height: 24px;
            left: 4px;
            border-radius: 50%;
            @include transition(.3s, ease-in-out);
          }
        }  
        &:checked+.btn_tgg {
          background-color: #009AFF;
        }  
        &:checked+.btn_tgg:after {
          left: calc(50% + 8px);
        }
      }
    }
  }
}

.my-manage_list {
  .item {
    padding: 20px 0;
    background-color: #fff; 
    border-bottom: 1px solid #E5E5E5;
  }
  .empty_data {
    &._full {
      height: calc(100vh - 164px);
    }
    > p {
      width: 100%;
    }
  }
  //****************************************/
  .item-cont {
    padding: 0 20px;
  }
  .item-tit {
    position: relative;
    color: #009AFF;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .btn_edit {
    margin-top: 0;
    color: #999;
    font-size: 13px;
  }
  .title {
    font-weight: 700;
    margin-bottom: 12px;
    @include ellipse(1);
  }
  .date {
    font-family: 'roboto';
    color: #999;
    font-size: 13px;
    .posting {
      font-family: 'NanumSquareRound';
      color: #999;
      font-size: 12px;
      line-height: inherit;
      font-weight: 700;
      vertical-align: baseline;
      border-right: 1px solid #D8DBDD;
      padding-right: 6px;
      margin-right: 6px;
    }
  }
  .likes_head {
    height:48px;
    background-color:#F5F7F8;
    &:after {
      @extend %clearer;
    }
    .row {
      display: block;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    .likes_checker {
      float:left;
      display: inline-flex;
      align-items: center;
      height:100%;
      label {
        white-space: nowrap;
        font-weight: 700;
      }
    }
    .bundle_control {
      float:right;
      display: inline-flex;
      align-items: center;
      height:100%;
      button {
        color:#009AFF;
        font-weight: 700;
        &.disabled {
          color: #999;
        }
      }
    }
  }
  .like_list {
    .item {
      position:relative;
      &:last-child {
        border-bottom:0;
      }
      > div {
        position:relative;
        margin:24px 0 0;
        padding:0 20px 20px;
        border-bottom:1px solid #F0F0F0;
        &:after {
          @extend %clearer;
        }
      }
    }
    .chkwrap {
      position:absolute;
      left:20px;
      top:0;
      width:8rem;
      height:6.333rem;
      z-index: 1;
      input[type=checkbox] + label {
        width:100%;
        height:100%;
        background-position:0 0;
      }
    }
    .thumb {
      width:6rem;
      height:6rem;
      margin-left:1.667rem;
      overflow: hidden;
      > p {
        position:absolute;
        right:0;
        top:0;
        width:6rem;
        height:6rem;
      }
    }
    .details {
      float:left;
      max-width:calc(100% - 8.667rem);
      width:100%;
      margin-left:15px;
      padding-top:2px;
      .name {
        padding-right:30px;
        margin-bottom:8px;
      }
      .qty {
        margin-bottom:7px;
        font-size:0.867rem;
        color:#666666;
      }
      .price {
        font-size: 18px;
        text-align: right;
        .origin {
          font-size: inherit;
        }
        .unit {
          font-weight: 800;
          vertical-align: text-bottom;
        }
      }
    }
    .edit {
      clear:both;
      display: flex;
      padding-top:20px;
      margin-left:1.667rem;
      .btn {
        flex:1;
        margin-left:5px;
        text-align: center;
        &:first-child {
          margin-left:0;
        }
      }
      &:after {
        @extend %clearer;
      }
    }
    .btn_wrap {
      display: flex;
      border-bottom: 0!important;
      .btn {
        flex:1;
        & + .btn {
          margin-left:8px;
        }
      }
    }
  }
  .qna_head {
    border-top: 1px solid #E5E5E5;
    height:48px;
    background-color: #F0FAFF;
    .row {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    a {
      display: block;
      font-size: 13px;
      font-weight: 700;
      em {
        color: #009AFF;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
  .ui-accordion .item {
    position: relative;
    padding: 0;
    .target {
      padding: 20px;
    }
    .title {
      position: relative;
      padding-right: 25px;
      margin-bottom: 0;
    }
    .label {
      display: inline-block;
      padding: 5px 7px;
      color: #fff;
      font-size: 10px;
      background-color: #AAA;
      border: 0;
      margin-bottom: 8px;
      &.answered {
        background-color: #009AFF;
      }
    }
    .date {
      margin-top: 10px;
      display: inline-block;
      .posting {
        color: #009AFF;
      }
    }
    .btn_all {
      top: 0;
      i::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    [aria-expanded="true"] .btn_all {
      i::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
    .panel {
      border-top: 1px solid #F0F0F0;
      padding: 20px;
      background-color: #F5F7F8;
      .desc {
        display: block;
        color: #666;
        font-size: 13px;
        margin-bottom: 8px;
        span {
          font-size: inherit;
          line-height: inherit;
          font-weight: 700;
        }
      }
      p {
        margin: 20px 0;
        line-height: 1.6;
        font-weight: 700;
      }
      .answer {
        position: relative;
        padding: 20px 20px 20px 36px;
        color: #666;
        font-size: 13px;
        line-height: 1.6;
        background-color: #fff;
        border-radius: 6px;
        &::before {
          content: '';
          position: absolute;
          left: 20px;
          top: 24px;
          width: 8px;
          height: 8px;
          border-bottom: 1px solid #D0D0D0;
          border-left: 1px solid #D0D0D0;
        }
      }
    }
  }
  .fixed_bottom + .btn_wrap {
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    padding-bottom: 110px;
    .btn {
      width: 100%;
    }
  }
}

.my-manage_reviews {
  .btn_all {
    position: absolute;
    right: 10px;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 8px;
    display: inline-block;
    color: #999;
    font-size: 0.813rem;
    line-height: 1;
    i::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  [aria-expanded="true"] .btn_all {
    i::before {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
  span.scoring {
    font-size: 13px;
    line-height: 1;
    font-weight: 800;
  }
  .content_detail {
    padding: 20px;
  }
  //****************************************/
  .my-review_topsec {
    width: 100%;
    padding: 40px 20px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
    i {
      display: block;
      width: 41.25%;
      padding-bottom: 32.5%;
      margin: 0 auto 12px;
      background: {
        image: url('../images/dummy/product_thumn03.png');
        repeat: no-repeat;
        position: center center;
        size: 100%;
      }
    }
  }
  .my-scoring {
    border-top: 8px solid #F5F7F8;
    padding-top: 30px;
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 800;
    }
    .content_detail {
      padding: 0 20px 10px;
      border-bottom: 1px solid #EEE;
    }
  }
  .my-review {
    border-top: 8px solid #F5F7F8;
    padding-top: 23px;
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 800;
    }
    .content_detail {
      padding: 12px 20px 0;
    }
    .row {
      padding-left: 20px;
      padding-right: 20px;
    }
    .btn {
      width: 100%;
      margin-bottom: 120px;
    }
  }
  .review_message {
    margin-bottom: 20px;
  }
  .orderscore_info {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 40px;
    li {
      display: flex;
      margin: 20px auto 20px;
      justify-content: space-between;
      align-items: center;
    }
    .tit {
      font-weight: 800;
      line-height: 1;
    }
    span.scoring {
      padding-top: 5px;
      font-size: 18px;
    }
    .star_wrap {
      text-align: center;
      span.star {
        width: 30px;
        height: 30px;
      }
    }
  }
  .order_info {
    border-bottom: 1px solid #E5E5E5;
    border-top:8px solid #F5F7F8;
    &:first-of-type {
      border-top: 0;
    }
    .title {
      position:relative;
      width:100%;
      height:57px;
      display: inline-flex;
      align-items: center;
      padding-left:20px;
      padding-right:20px;
      font-weight: 700;
      border-bottom:1px solid #E5E5E5;
      > span {
        font-family: 'roboto';
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        padding-right: 4px;
      }
    }
  }
  .ui-accordion {
    width: 100%;
    position: relative;
    .target {
      width: 100%;
    }
    .target_inner {
      &::after {
        @extend %clearer;
      }
      .name {
        margin-bottom: 14px;
      }
      span.scoring {
        margin-left: 6px;
      }
    }
    .panel {
      position: relative;
      overflow: visible;
      .orderscore_info {
        position: relative;
        margin-top: 18px;
        padding: 0;
        max-width: 100%;
        li {
          justify-content: start;
          max-width: 160px;
          margin: 10px auto 0 0;
        }
        .tit {
          margin-right: auto;
          font-weight: 700;
        }
        span.scoring {
          padding-top: 0;
          margin-left: 6px;
          font-size: 13px;
        }
        .star_wrap {
          span.star {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  .order_list {
    padding-left:0;
    padding-right:0;
    .item {
      overflow: visible;
      position: relative;
      &:after {
        @extend %clearer;
      }
      .btn_wrap {
        margin-top:20px;
      }
      .explain {
        margin:8px 5px 0;
        margin-top:8px;
      }
      .btn {
        i {
          @include iconAngle($direction: 'right', $width: 6px, $height: 10px, $thick: 1px, $color: #111, $display: inline-block);
          vertical-align: middle;
        }
      }
    }
    .thumb {
      z-index: 1;
      width: 90px;
      margin-right:12px;
      > p {
        width: 90px;
      }
    }
    .details {
      float:left;
      width:calc(100% - 102px);
      padding-bottom: 5px;
      .btn_wrap {
        margin-top: 10px;
        clear:both;
        a {
          font-weight: 700;
        }
      }    
    }
    .review_message {
      margin-top: 18px;
      margin-bottom: 0;
      p {
        line-height: 1.6;
      }
    }
  }
}

.my-manage_coupons {
  .my-topsec {
    border-top: 1px solid #E5E5E5;
    position: relative;
    padding: 20px;
    &::after {
      @extend %clearer;
    }
    .title {
      font-weight: 700;
      margin-bottom: 12px;
    }
    .txtarea {
      width: calc(100% - 66px);
      float: left;
    }
    .btn {
      float: right;
      width: 60px;
      height: 44px;
      border-radius: 8px;
      border-color: transparent;
      background-color: #009AFF;
      color: #fff;
      line-height: 44px;
      font-weight: 700;
      text-align: center;
    }
    .desc {
      margin-top: 16px;
      display: inline-block;
      position: relative;
      padding-left: 8px;
      color: #999;
      font-size: 13px;
      line-height: 1.6;
      &::before {
        content: '·';
        position: absolute;
        left: 0;
      }
    }
  }
  .tablist {
    border-top: 0;
  }
  .item {
    background-color: #fff; 
    border: 1px solid #E5E5E5;
    margin: 20px;
    border-radius: 8px;
    .item-head {
      display: flex;
      padding: 10px 16px;
      background-color: #F5F7F8;
      overflow: hidden;
      div {
        flex: 1;
        font-size: 13px;
        line-height: 30px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
      }
    }
    .item-cont {
      padding: 20px;
      > span {
        display: block;
        color: #666;
        font-size: 13px;
        line-height: 1.6;
      }
    }
    .item-tit {
      color: #009AFF;
      font-size: 20px;
      line-height: 24px;
      font-weight: 800;
      margin-bottom: 14px;
      span {
        color: inherit;
        font-family: 'roboto';
        font-size: 24px;
        line-height: inherit;
        font-weight: inherit;
      }
    }
    .title {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    .desc {
      margin-bottom: 12px;
    }
    .date { 
      .label {
        padding: 2px 7px;
        margin-left: 4px;
        color: #009AFF;
        font-size: 10px;
        border-color: #009AFF;
      }
    }
  }
  .pagination {
    border: 0;
    padding: 0;
  }
}

.my-manage_points {
  .my-topsec {
    position: relative;
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
    text-align: center;
    background-color: #F5F7F8;
    .title {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .figs {
      display: block;
      color: #009AFF;
      font-size: 24px;
      margin-bottom: 11px;
      span {
        color: inherit;
        font-size: 21px;
        font-weight: 800;
        vertical-align: bottom;
      }
    }
    .btn {
      height: auto;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 13px;
      border-color: #AAA;
      background-color: #fff;
    }
    .noti {
      margin-top: 16px;
      border-top: 1px solid #E5E5E5;
      display: flex;
      justify-content: space-between;
      padding: 18px 20px;
      .tit {
        color: #666;
        text-align: left;
      }
      i {
        display: inline-block;
        font-style: normal;
        font-weight: 700;
        text-align: right;
      }
    }
  }
  .tablist {
    border-top: 0;
  }
  .inner {
    display: flex;
    justify-content: space-between;
  }
  .item {
    padding: 16px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
  .item-cont {
    flex: 6;
    padding-right: 15px;
  }
  .date {
    display: block;
    font-family: 'roboto';
    color: #999;
    font-size: 13px;
    margin-bottom: 6px;
  }
  .item-tit {
    font-weight: 700;
    line-height: 1.4;
    @include ellipse(2);
  }
  .title {
    display: block;
    margin-top: 8px;
    font-family: 'roboto';
    color: #666;
    font-size: 13px;
  }
  .inner > p {
    flex: 1;
    margin-top: 6px;
    padding: 0 5px 0 25px;
    text-align: center;
    border-left: 1px solid #E5E5E5;
  }
  .plus {
    color: #009AFF;
  }
  .minus {
    color: #FF2B4C;
  }
  .gray {
    color: #666;
    .figs {
      color: #999;
    }
  }
  .item-label {
    display: flex;
    justify-content: center;
    margin: 0 auto 4px;
    width: 36px;
    height: 36px;
    padding: 12px 7px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    background-color: #fff;
    color: inherit;
    font-size: 12px;
    line-height: 1;
  }
  .figs {
    display: inline-block;
    font-family: 'roboto';
    color: inherit;
    font-weight: 700;
    line-height: 1;
  }
  .desc {
    margin-top: 20px;
    padding: 0 20px;
    li {
      margin-top: 10px;
      display: inline-block;
      position: relative;
      padding-left: 8px;
      color: #999;
      font-size: 13px;
      line-height: 1.3;
      &::before {
        content: '·';
        position: absolute;
        left: 0;
      }
    }
  }
}