@charset "utf-8";
@import "mixins";

.my_wrap {
	//** Mypage Common
	.section {
    padding-top: 0;
		margin-bottom:0;
	}
	.row {
		justify-content: start;
    padding: 0;
	}
	.cnt {
		margin-left: 3px;
		font-family: 'Roboto';
		line-height: inherit;
		font-weight: 700;
		letter-spacing: inherit;
		vertical-align: baseline;
		padding-bottom: 1px;
	}
	.btn {
		&_all {
      margin-top: 8px;
      display: inline-block;
			position: absolute;
      right: 10px;
      top: 0;
			transform: translateY(-50%);
      color: #999;
      font-size: 0.813rem;
      line-height: 1;
			i {
				vertical-align: middle;
				&.down {
					@include iconAngle($direction: 'down', $width: 15px, $height: 8px, $thick: 1px, $color: #111, $display: inline-block);
				}
			}
		}
		&.primary {
			border-color: #D8DBDD;
		}
    &_edit {
      margin-top: 13px;
      position: absolute;
      right: 0;
      top: 0;
      color: #009AFF;
      font-weight: 700;
      line-height: 1;
    }
    &_edit-pic {
      position: absolute;
      width: 32px;
      height: 32px;
      padding: 6px;
      display: flex;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      background-color: #fff;
      i {    
        width: 100%;
        height: 100%;
        justify-content: center;
        background-size: 100%;
        background-image: url(../images/icons/icon_pic-gray.png);
        background: {
          repeat: no-repeat;
          position: center center;
        }
      }
    }
	}
	.title_wrap {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #E5E5E5;
		.title {
			font-size: 18px;
			line-height: 28px;
			font-weight: 700;
		}
		.date {
			margin-top: 6px;
			color: #666;
			font-size: 13px;
			line-height: 20px;
			vertical-align: middle;
		}
	}
	.tablist {
    border-top: 1px solid #E5E5E5;
		padding: 0;
	}
	.tab {
		display: inline-block;
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		color: #999;
		vertical-align: bottom;
    span {
      font-family: inherit;
      color: inherit;
      font-weight: inherit;
    }
    &.active {
      span {
        color: #009AFF;
      }
    }
	}
	.tab_panel {
		> .btn_wrap {
			margin-top: 24px;
			padding-left: 20px;
			padding-right: 20px;			
			.btn {
				width: 100%;
			}
		}
	}
	.ui-accordion {
		border-top: none;
		.item {
      border: none;
    }
		.target {
			padding: 0;
		}
		.panel {
      padding: 0;
		}
	}
  .txtarea {
    position:relative;
    border:1px solid #D8DBDD;
    padding-bottom:30px;
    border-radius: 8px;
    background-color: #fff;
    textarea {
      min-height: 150px;
      height: 150px;
      border:0;
      resize: none;
      &:not([readonly]):focus {
        background-color: #fff;
      }
      line-height: 1.6;
    }
    .txcnt {
      position:absolute;
      bottom:12px;
      right:16px;
      font-family: 'roboto';
      span {
        font-family: inherit;
        font-size: inherit;
        color:#009AFF;
      }
    }
  }


	.tag_wrap {
		padding-left:20px;
		padding-right:20px;
	}
	.taglist {
		margin: 20px auto 0;
		.tag {
			display: inline-block;
			border: 1px solid #AAA;
			background-color: #fff;
			border-radius: 22px;
			padding-left: 20px;
			padding-right: 20px;
			margin:0 2px 6px 0;
			cursor: pointer;
			&:last-of-type {
				margin-right: 0;
			}
			a {
				display: inline-block;
				padding: 10px 0 10px;
				line-height: 1;
			}
			span {
				color: #111;
				font-weight: 400;
				vertical-align: initial;
			}
			&.active {
				border-width: 0.1rem;
				border-color: #000;
				span {
					font-weight: 700;
				}
			}
		}
	}
}

.my-main {
  border-top: 1px solid #E5E5E5;
  section {
    border-top: 8px solid #F5F7F8;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px;
    &:first-of-type {
      border-top: 0;
    }
    &:last-of-type {
      padding-bottom: 40px;
      border-bottom: 0;
    }
  }  
  .myinfo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    li {
      flex: 1;
      border-right: 1px dotted #999;
      border-color: rgba(153, 153, 153, .5);
      &:last-of-type {
        border: 0;
      }
      > a {
        display: block;
        width: 100%;
        text-align: center;
        color: #666;
        font-size: 12px;
        span {
          display: block;
          font-family: "roboto";
          color: #000;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
  }
  .row {
    > .img {
      flex: 1;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
  //****************************************/
  .sec_myprofile {
    .img {
      max-width: 125px;
    }
    h2 {
			position: relative;
      flex: 4;
      margin-left: 4%;
			> span {
				display: block;
				font-size: 18px;
        font-weight: 700;
        span {
          margin-top: 8px;
          display: block;
          color: #999;
          font-size: 13px;
          font-weight: inherit;
        }
			}
			i {
				font-style: normal;
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
			}	
		}
  } 
  .sec_myshipping {
    .title {
      position: relative;
      font-weight: 800;
      margin-bottom: 20px;
    }
    .btn_all {
      color: #000;
      font-size: 15px;
      font-weight: 800;
      i {
        margin-left: 6px;
      }
    }
    .myshipping {
      border: 1px solid #E5E5E5;
      border-radius: 8px;
    }
    .myinfo {
      padding: 18px 0;
      margin-bottom: 0;
      li {
        flex: 1;
        border-right: 1px dotted #999;
        border-color: rgba(153, 153, 153, .5);
        &:last-of-type {
          border: 0;
        }
        &.shipping_done {
          > a span {
            color: #999;
          }
        }
        > a span {
          font-size: 22px;
        }
      }
    }
    .myhistory {
      border-top: 1px solid #E5E5E5;
      display: flex;
      padding: 14px 0 12px;
      background-color: #F5F7F8;
      overflow: hidden;
      li {
        flex: 1;
        align-self: center;
        font-size: 13px;
        line-height: 26px;
        font-weight: 700;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        span {
          margin-left: 6px;
          display: inline-block;
          color: #009AFF;
          font-family: 'roboto';
          font-size: 15px;
          font-weight: inherit;
        }
        &:not(:last-of-type) {
          border-right: 1px solid #E5E5E5;
        }
      }
    }
  }
  .sec_myacc, .sec_myshop {
    padding: 0;
  }
  [class^="my-manage_"] {
    padding: 20px;
    border-bottom: 1px solid #F0F0F0;
    &:last-of-type {
      border-bottom: 0;
    }
    .title {
      position: relative;
      font-weight: 700;
    }
  }
  .sec_myprofile-edit {
    .row {
      max-width: 31.25%;
      justify-content: center;
      margin: 0 auto;
      .img {
        margin: 0 auto;
      }
      .btn_edit-pic {
        bottom: 0;
        right: 0;
        width: 32%;
        height: 32%;
      }
    }
    .txtarea {
      margin-top: 30px;
      padding-top: 2px;
      padding-bottom: 0;
      padding-right: 60px;
      textarea {
        min-height: 36px;
        height: 36px;
        line-height: unset;
        overflow-y: hidden;
      }
      .txcnt {
        font-size: 13px;
      }
    }
    > p {
      margin-top: 30px;
      text-align: center;
      color: #666;
      font-size: 13px;
    }
  }
}

.my-manage_reviews {
  span.scoring {
    font-size: 13px;
    line-height: 1;
    font-weight: 800;
  }
  //****************************************/
  .my-review_topsec {
    width: 100%;
    padding: 40px 20px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
    i {
      display: block;
      width: 41.25%;
      padding-bottom: 32.5%;
      margin: 0 auto 12px;
      background: {
        image: url('../images/dummy/product_thumn03.png');
        repeat: no-repeat;
        position: center center;
        size: 100%;
      }
    }
  }
  .my-scoring {
    border-top: 8px solid #F5F7F8;
    padding-top: 30px;
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 800;
    }
    .content_detail {
      padding: 0 20px 10px;
      border-bottom: 1px solid #EEE;
    }
  }
  .orderscore_info {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 40px;
    li {
      display: flex;
      margin: 20px auto 20px;
      justify-content: space-between;
      align-items: center;
    }
    .tit {
      line-height: 1;
      font-weight: 800;
    }
    span.scoring {
      padding-top: 5px;
      font-size: 18px;
      line-height: 1;
      font-weight: 800;
    }
    .star_wrap {
      text-align: center;
      span.star {
        width: 30px;
        height: 30px;
      }
    }
  }
  .my-review {
    border-top: 8px solid #F5F7F8;
    padding-top: 23px;
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 800;
    }
    .content_detail {
      padding: 12px 20px 0;
    }
    .btn {
      width: 100%;
      margin-bottom: 120px;
    }
  }
  .review_message {
    margin-bottom: 20px;
  }
  .order_info {
    border-bottom: 1px solid #E5E5E5;
    border-top:8px solid #F5F7F8;
    &:first-of-type {
      border-top: 0;
    }
    .title {
      position:relative;
      width:100%;
      height:57px;
      display: inline-flex;
      align-items: center;
      padding-left:20px;
      padding-right:20px;
      font-weight: 700;
      border-bottom:1px solid #E5E5E5;
      > span {
        font-family: 'roboto';
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        padding-right: 4px;
      }
    }
  }
  .btn_all {
    i::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .content_detail {
    padding:20px;
  }
  .order_list {
    padding-left:0;
    padding-right:0;
    .item {
      overflow: visible;
      position: relative;
      &:after {
        @extend %clearer;
      }
      .btn_wrap {
        margin-top:20px;
      }
      .explain {
        margin:8px 5px 0;
        margin-top:8px;
      }
      .btn {
        i {
          @include iconAngle($direction: 'right', $width: 6px, $height: 10px, $thick: 1px, $color: #111, $display: inline-block);
          vertical-align: middle;
        }
      }
    }
    .thumb {
      z-index: 1;
      position:relative;
      float:left;
      width: 90px;
      margin-right:12px;
      > p {
        width: 90px;
        padding:15px;
        background-color: #F5F7F8;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
    }
    .details {
      float:left;
      width:calc(100% - 102px);
      padding-bottom: 5px;
      .name {
        @include ellipse(2);
        line-height:1.3;
        a {
          font-size: inherit;
          font-weight: 700;
        }
      }
      .btn_wrap {
        margin-top: 10px;
        clear:both;
        a {
          font-weight: 700;
        }
      }    
    }
    .review_message {
      margin-top: 18px;
      margin-bottom: 0;
      p {
        line-height: 1.6;
      }
    }
  }
  .ui-accordion {
    width: 100%;
    position: relative;
    .target {
      width: 100%;
    }
    .target_inner {
      &::after {
        @extend %clearer;
      }
      .name {
        margin-bottom: 14px;
      }
      span.scoring {
        margin-left: 6px;
      }
    }
    .btn_all {
      position: absolute;
      right: 10px;
      top: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 8px;
      display: inline-block;
      color: #999;
      font-size: 0.813rem;
      line-height: 1;
      i::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .panel {
      position: relative;
      overflow: visible;
      .orderscore_info {
        position: relative;
        margin-top: 18px;
        padding: 0;
        max-width: 100%;
        li {
          justify-content: start;
          max-width: 160px;
          margin: 10px auto 0 0;
        }
        .tit {
          margin-right: auto;
        }
        span.scoring {
          padding-top: 0;
          margin-left: 6px;
          font-size: 13px;
        }
        .star_wrap {
          span.star {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}

.my-manage_coupons {
  .my-coupon_topsec {
    border-top: 1px solid #E5E5E5;
    position: relative;
    padding: 20px;
    &::after {
      @extend %clearer;
    }
    .title {
      font-weight: 700;
      margin-bottom: 12px;
    }
    .txtarea {
      padding-top: 2px;
      padding-bottom: 0;
      width: calc(100% - 66px);
      float: left;
      textarea {
        min-height: 36px;
        height: 36px;
        line-height: unset;
        overflow-y: hidden;
      }
    }
    .btn {
      float: right;
      width: 60px;
      height: 44px;
      border-radius: 8px;
      border-color: transparent;
      background-color: #009AFF;
      color: #fff;
      line-height: 44px;
      font-weight: 700;
      text-align: center;
    }
    .desc {
      margin-top: 16px;
      display: inline-block;
      position: relative;
      padding-left: 8px;
      color: #999;
      font-size: 13px;
      line-height: 1.6;
      &::before {
        content: '·';
        position: absolute;
        left: 0;
      }
    }
  }
  .tablist {
    border-top: 0;
  }
  .label {
    padding: 7px 12px;
    display: inline;
    border-radius: initial;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    vertical-align: text-bottom;
    margin-right: 0;
    background-color: #fff;
    border: 1px solid #AAA;
    border-radius: 20px;
    vertical-align: baseline;
  }
  .pagination {
    border: 0;
    padding: 0;
  }
  .item {
    background-color: #fff; 
    border: 1px solid #E5E5E5;
    margin: 20px;
    border-radius: 8px;
    .item-head {
      display: flex;
      padding: 10px 16px;
      background-color: #F5F7F8;
      overflow: hidden;
      div {
        flex: 1;
        font-size: 13px;
        line-height: 30px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
      }
    }
    .item-cont {
      padding: 20px;
      > span {
        display: block;
        color: #666;
        font-size: 13px;
        line-height: 1.6;
      }
    }
    .item-tit {
      color: #009AFF;
      font-size: 20px;
      line-height: 24px;
      font-weight: 800;
      margin-bottom: 14px;
      span {
        color: inherit;
        font-family: 'roboto';
        font-size: 24px;
        line-height: inherit;
        font-weight: inherit;
      }
    }
    .title {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    .desc {
      margin-bottom: 12px;
    }
    .date { 
      .label {
        padding: 2px 7px;
        margin-left: 4px;
        color: #009AFF;
        font-size: 10px;
        border-color: #009AFF;
      }
    }
  }
}

.my-manage_list {
  .item {
    padding: 20px 0;
    background-color: #fff; 
    border-bottom: 1px solid #E5E5E5;
  }
  .item-cont {
    padding: 0 20px;
  }
  .item-tit {
    position: relative;
    color: #009AFF;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .btn_edit {
    margin-top: 0;
    color: #999;
    font-size: 13px;
  }
  .title {
    font-weight: 700;
    margin-bottom: 12px;
    @include ellipse(1);
  }
  .date {
    font-family: 'roboto';
    color: #999;
    font-size: 13px;
    .posting {
      font-family: 'NanumSquareRound';
      color: #999;
      font-size: 12px;
      line-height: inherit;
      font-weight: 700;
      vertical-align: baseline;
      border-right: 1px solid #D8DBDD;
      padding-right: 6px;
      margin-right: 6px;
    }
  }
}